@import 'buttron.styl'

.test
  buttron({
    style: false
    component:{
      span:{
        hover:{
          background: red
          option:{
            applyTo: '.kool'
          }
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  component:{
    span:{
      hover:{
        background: red
        option:{
          applyTo: '.kool'
        }
      }
    }
  }
})

.test
  buttron({
    style: false
    component:{
      span:{
        hover:{
          trans:{
            background: red
            option:{
              applyTo: '.kool'
            }
          }
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  component:{
    span:{
      hover:{
        trans:{
          background: red
          option:{
            applyTo: '.kool'
          }
        }
      }
    }
  }
})
