@import 'buttron.styl'

.test
  buttron({
    width: 200px
    component:{
      ".noopept":{
        background: red
        hover:{
          background: green
          option:{
            root: true
            media: 'md'
          }
        }
      }
    }
  })
  
buttron('.test', {
  width: 200px
  component:{
    ".noopept":{
      background: red
      hover:{
        background: green
        option:{
          root: true
          media: 'md'
        }
      }
    }
  }
})