@import 'buttron.styl'

.test
  buttron({
    style: false
    component:{
      span:{
        hover:{
          background: green
          font-size: 1rem
          option:{
            root: true
          }
        }
      }
    }
  })

  
buttron('.test', {
  style: false
  component:{
    span:{
      hover:{
        background: green
        font-size: 1rem
        option:{
          root: true
        }
      }
    }
  }
})

.test
  buttron({
    style: false
    component:{
      span:{
        hover:{
          trans:{
            background: green
            font-size: 1rem
            option:{
              root: true
            }
          }
        }
      }
    }
  })

buttron('.test', {
  style: false
  component:{
    span:{
      hover:{
        trans:{
          background: green
          font-size: 1rem
          option:{
            root: true
          }
        }
      }
    }
  }
})