@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      background: green
      color: red
      option:{
        applyTo: span
        duration: 1s
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 300px
  transition:{
    background: green
    color: red
    option:{
      applyTo: span
      duration: 1s
    }
  }
})