@import 'buttron.styl'

.test
  buttron({
    style: false
    trans:{
      option:{
        duration: 10s
      }
    }
  })
  

buttron('.test', {
  style: false
  trans:{
    option:{
      duration: 10s
    }
  }
})