@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    trans:{
      background: green
    }
  })
  

buttron('.test', {
  style: false
  width: 200px
  transition:{
    background: green
  }
})