@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      background: green
      color: red
      font-size: 1.4rem
      option:{
        duration: 1s 3s
        ease: stylus fun
        delay: 0.1s 0.3s
      }
    }
  })

  

buttron('.test', {
  style: false
  width: 300px
  transition:{
    background: green
    color: red
    font-size: 1.4rem
    option:{
      duration: 1s 3s
      ease: stylus fun
      delay: 0.1s 0.3s
    }
  }
})