@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    trans:{
      option:{
        duration: 1s
        delay: 2s
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 200px
  transition:{
    option:{
      duration: 1s
      delay: 2s
    }
  }
})