@import 'buttron.styl'

.test
  buttron({
    style: false
    trans:{
      border-width: 30px
      option:{
        property: 'left' color 'background' right
        duration: 1s 2s
        delay: 2s
        ease: ease-in funky-town
      }
    }
  })
  

buttron('.test', {
  style: false
  transition:{
    border-width: 30px
    option:{
      property: 'left' color 'background' right
      duration: 1s 2s
      delay: 2s
      ease: ease-in funky-town
    }
  }
})