@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    trans:{
      background: green
      color: red
      option:{
        duration: 1s
        ease: ease-in
        delay: 2s
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 200px
  transition:{
    background: green
    color: red
    option:{
      duration: 1s
      ease: ease-in
      delay: 2s
    }
  }
})