@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      background: green
      color: red
      font-size: 1.1rem
      shorthand:{
        background: 2s default default
        color: default ease-out 1s
        font-size: 10s default 5s
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 300px
  transition:{
    background: green
    color: red
    font-size: 1.1rem
    shorthand:{
      background: 2s default default
      color: default ease-out 1s
      font-size: 10s default 5s
    }
  }
})