.aHoverState {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 0rem;
  padding: 0rem;
  background: #7f8c8d;
  color: #fff;
  border: initial;
  border-radius: 4px;
  box-shadow: initial;
  font-size: 1rem;
  font-weight: initial;
  font-family: initial;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 60px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.aHoverState {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.aHoverState:hover {
  background: #1abc9c;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.aHoverState {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 0rem;
  padding: 0rem;
  background: #7f8c8d;
  color: #fff;
  border: initial;
  border-radius: 4px;
  box-shadow: initial;
  font-size: 1rem;
  font-weight: initial;
  font-family: initial;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 60px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.aHoverState {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.aHoverState:hover {
  background: #1abc9c;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}