@import 'buttron.styl'

.aHoverState
  buttron({
    style: true
    background: #7F8C8D
    hover:{
      background: #1ABC9C
    }
  });


buttron('.aHoverState', {
  style: true
  background: #7F8C8D
  hover:{
    background: #1ABC9C
  }
});