.complieStyle {
  width: 200px;
}
.complieStyle {
  transition-property: background, color, opacity;
  transition-duration: 0.25s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 2s, 2s;
}
.complieStyle:hover {
  background: #008000;
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.complieStyle:active {
  color: #008000;
  opacity: 0.5;
  transition-property: color, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 2s, 2s;
}
.complieStyle {
  width: 200px;
}
.complieStyle {
  transition-property: background, color, opacity;
  transition-duration: 0.25s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 2s, 2s;
}
.complieStyle:hover {
  background: #008000;
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.complieStyle:active {
  color: #008000;
  opacity: 0.5;
  transition-property: color, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 2s, 2s;
}
