@import 'buttron.styl'

.complieStyle
  buttron({
    width: 200px
    hover: {
      background: green
      option:{
        duration: 0.25s
      }
    }
    active:{
      color: green
      opacity: 0.5
      option: {
        delay: 2s
      }
    }
  })



buttron('.complieStyle', {
  width: 200px
  hover: {
    background: green
    option:{
      duration: 0.25s
    }
  }
  active:{
    color: green
    opacity: 0.5
    option: {
      delay: 2s
    }
  }
})