// edit()

.home_Wrapper
  center(900px)
  height: calc(100vh - 90px)
  width: 100vh
  section
    width: 100%
    h1
      align(center)
      column('1/1')
      margin-top: 10px
      color: alpha($pc, 0.85)
      font-weight: bold
      span
        color: alpha($sc, 0.75)
    .icon
      align(center)
      column('1/1')
      font-size: 18rem
    h3
      align(center)
      column('1/1')