.test {
  width: 200px;
}
.test {
  transition-property: color , left , font-size , height , width , background;
  transition-duration: 0.5s , 2s , 3s , 3s , 1s , 1s;
  transition-timing-function: ease-out , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s , 0s , 1s , 1s , 2s , 0s;
}
.test:active {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: #f33;
}
.test:visited {
  border: 5px solid #008000;
}
.test:link {
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  left: 100pc;
}
.test:hover {
  font-size: 2rem;
  height: 300px;
  width: 400px;
  background: #008080;
  transition-property: font-size , height , width , background;
  transition-duration: 3s , 3s , 1s , 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s , 1s , 2s , 0s;
}
.test {
  width: 200px;
}
.test {
  transition-property: color , left , font-size , height , width , background;
  transition-duration: 0.5s , 2s , 3s , 3s , 1s , 1s;
  transition-timing-function: ease-out , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s , 0s , 1s , 1s , 2s , 0s;
}
.test:active {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: #f33;
}
.test:visited {
  border: 5px solid #008000;
}
.test:link {
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  left: 100pc;
}
.test:hover {
  font-size: 2rem;
  height: 300px;
  width: 400px;
  background: #008080;
  transition-property: font-size , height , width , background;
  transition-duration: 3s , 3s , 1s , 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s , 1s , 2s , 0s;
}
