@import 'buttron.styl'

.test
  buttron({
    $$: {
      eval:{
        color: 'lighten($$[base], 20%)'
      }
      base: red
      activeTrans: {
        color: "$$[color]"
        option: {
          ease: ease-out
        }
      }
    }
    style: false
    width: 200px
    active: "$$[activeTrans]"
    //no auto-gen
    visited: {
      border: 5px solid green
    }
    //auto-gen cus transition = true
    link: {
      left: 100pc
      transition: true
      option: {
        duration: 2s
      }
    }
    hover:{
      transition: {
        one:{
          font-size: 2rem
          height: 300px
          option:{
            delay: 1s
            duration: 3s
          }
        }
        two:{
          width: 400px
          option:{
            delay: 2s
          }
        }
        three:{
          background: teal
        }
        globalOption:{
          duration: 1s
        }
      }
    }
  })


buttron('.test', {
  $$: {
    eval:{
      color: 'lighten($$[base], 20%)'
    }
    base: red
    activeTrans: {
      color: "$$[color]"
      option: {
        ease: ease-out
      }
    }
  }
  style: false
  width: 200px
  active: "$$[activeTrans]"
  //no auto-gen
  visited: {
    border: 5px solid green
  }
  //auto-gen cus transition = true
  link: {
    left: 100pc
    transition: true
    option: {
      duration: 2s
    }
  }
  hover:{
    transition: {
      one:{
        font-size: 2rem
        height: 300px
        option:{
          delay: 1s
          duration: 3s
        }
      }
      two:{
        width: 400px
        option:{
          delay: 2s
        }
      }
      three:{
        background: teal
      }
      globalOption:{
        duration: 1s
      }
    }
  }
});