.defaultToAll {
  font-size: 1rem;
}
.defaultToAll {
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.defaultToAll:hover {
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #e74c3c;
}
.defaultToAll {
  font-size: 1rem;
}
.defaultToAll {
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.defaultToAll:hover {
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #e74c3c;
}
