.test {
  transition: background 1s , left 2s ease-in , color 0.5s ease-out 3s;
  background: #008000;
  width: 100px;
  left: 50px;
}
.test {
  transition: background 1s , left 2s ease-in , color 0.5s ease-out 3s;
  background: #008000;
  width: 100px;
  left: 50px;
}
.test {
  transition: background 1s , left 2s ease-in , color 0.5s ease-out 3s;
  background: #008000;
  width: 100px;
  left: 50px;
}
.test {
  transition: background 1s , left 2s ease-in , color 0.5s ease-out 3s;
  background: #008000;
  width: 100px;
  left: 50px;
}
