@import 'buttron.styl'

.test
  buttron({
    style: false
    transition:{
      one: {
        background: green
        shorthand:{
          background: 1s,
          width: 200px
        }
      }
      two: {
        font-size: 1.2rem
        shorthand:{
          font-size: 2s ease-in
          color: 2s
        }
      }
      three :{
        height: 200px
        option: {
          duration: 3s
        }
      }
    }
  })


buttron('.test', {
  style: false
  transition:{
    one: {
      background: green
      shorthand:{
        background: 1s,
        width: 200px
      }
    }
    two: {
      font-size: 1.2rem
      shorthand:{
        font-size: 2s ease-in
        color: 2s
      }
    }
    three :{
      height: 200px
      option: {
        duration: 3s
      }
    }
  }
});