.test {
  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
  background: #008000;
  font-size: 1.3rem;
}
.test {
  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
  background: #008000;
  font-size: 1.3rem;
}