@import 'buttron.styl'

.test
  buttron({
    style: false
    transition:{
      background: green
      width: 100px
      left: 50px
      option:{
        shorthand:{
          background: 1s,
          left: 2s ease-in,
          color: 0.5s ease-out 3s
        }
      }
    }
  })


buttron('.test', {
  style: false
  transition:{
    background: green
    width: 100px
    left: 50px
    option:{
      shorthand:{
        background: 1s,
        left: 2s ease-in,
        color: 0.5s ease-out 3s
      }
    }
  }
});

.test
  buttron({
    style: false
    transition:{
      background: green
      width: 100px
      left: 50px
      shorthand:{
        background: 1s,
        left: 2s ease-in,
        color: 0.5s ease-out 3s
      }
    }
  })
  
buttron('.test', {
  style: false
  transition:{
    background: green
    width: 100px
    left: 50px
    shorthand:{
      background: 1s,
      left: 2s ease-in,
      color: 0.5s ease-out 3s
    }
  }
});