@import 'buttron.styl'

.test
  buttron({
    style: false
    transition:{
      background: green
      width: 100px
    }
  })
  

buttron('.test', {
  style: false
  transition:{
    background: green
    width: 100px
  }
});