@import 'buttron.styl'

.test
  buttron({
    style: false
    transition:{
      one:{
        background: green
      }
      two: {
        font-size: 1.2rem
        color: red
        option:{
          duration: 1s
        }
      }
      three:{
        right: 100px
        option:{
          duration: 2s
          ease: ease-in
        }
      }
      four:{
        top: 100px
        bottom: 100px
        option:{
          property: dig-it
          duration: 2s
          ease: ease-out
          delay: 2s
        }
      }
      globalOption:{
        duration: 0.99s
        delay: 0.25s
      }
    }
  })
  
buttron('.test', {
  style: false
  transition:{
    one:{
      background: green
    }
    two: {
      font-size: 1.2rem
      color: red
      option:{
        duration: 1s
      }
    }
    three:{
      right: 100px
      option:{
        duration: 2s
        ease: ease-in
      }
    }
    four:{
      top: 100px
      bottom: 100px
      option:{
        property: dig-it
        duration: 2s
        ease: ease-out
        delay: 2s
      }
    }
    globalOption:{
      duration: 0.99s
      delay: 0.25s
    }
  }
});