.test {
  background: #008000;
  font-size: 1.2rem;
  color: #f00;
  right: 100px;
  transition-property: background , font-size , color , right , dig-it;
  transition-duration: 0.5s , 1s , 2s , 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , ease-in , ease-out;
  transition-delay: 0s , 0s , 0s , 2s;
}
.test {
  background: #008000;
  font-size: 1.2rem;
  color: #f00;
  right: 100px;
  transition-property: background , font-size , color , right , dig-it;
  transition-duration: 0.5s , 1s , 2s , 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , ease-in , ease-out;
  transition-delay: 0s , 0s , 0s , 2s;
}
