@import 'buttron.styl'

.test
  buttron({
    style: false
    transition:{
      background: green
      font-size: 1.3rem
      option:{
        property: left
        duration: 1s
        delay: 2s
        ease: ease-in
      }
    }
  })


buttron('.test', {
  style: false
  transition:{
    background: green
    font-size: 1.3rem
    option:{
      property: left
      duration: 1s
      delay: 2s
      ease: ease-in
    }
  }
});