@import 'buttron.styl'

.test
  buttron({
    style: false
    transition:{
      option:{
        property: 'left' color 'background' right
        duration: 1s
        delay: 2s
        ease: ease-in
      }
    }
  })


buttron('.test', {
  style: false
  transition:{
    option:{
      property: 'left' color 'background' right
      duration: 1s
      delay: 2s
      ease: ease-in
    }
  }
});