.test {
  transition-property: left , color , background , right;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
.test {
  transition-property: left , color , background , right;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
