//Production links
- var links   = {};
- links.home  ='/index.html';
- links.basic ='/basic.html';
- links.states ='/states.html';
- links.elements ='/elements.html';
- links.classes ='/classes.html';
- links.components ='/components.html';
- links.transition  ='/transition.html';
- links.animation  ='/animation.html';
//Deploy links
//- - var links   = {};
//- - links.home  ='./';
//- - links.color ='./color.html';
//- - links.type  ='./type.html';
//- - links.magic ='./magic-show.html';

nav
  ul
    li.navLink
      a(href=links.home) Home
    li.navLink
      a(href=links.basic) Basic
    li.navLink
      a(href=links.states) States
    li.navLink
      a(href=links.elements) Elements
    li.navLink
      a(href=links.classes) Classes
    li.navLink
      a(href=links.components) Components
    li.navLink
      a(href=links.transition) Transition
    li.navLink
      a(href=links.animation) Animation