.checkMe input {
  transition-property: height , width , transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.checkMe input:checked {
  transition-property: height , width , transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  height: 50px;
  width: 50px;
  transform: rotate(360deg);
}
.checkMe input {
  transition-property: height , width , transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.checkMe input:checked {
  transition-property: height , width , transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  height: 50px;
  width: 50px;
  transform: rotate(360deg);
}
