@import 'buttron.styl'

.checkMe input
  buttron({
    style: false
    customState: {
      state: checked
      transition: true
      height: 50px
      width: 50px
      transform: rotate(360deg)
      option: {
        duration: 1s 
      }
    }
  })


buttron('.checkMe input', {
  style: false
  customState: {
    state: checked
    transition: true
    height: 50px
    width: 50px
    transform: rotate(360deg)
    option: {
      duration: 1s 
    }
  }
})