.multipleState {
  width: 200px;
}
.multipleState:hover {
  width: 400px;
}
.multipleState:focus {
  width: 400px;
}
.multipleState:checked {
  width: 400px;
}
.multipleState > span:hover {
  height: 500px;
}
.multipleState > span:focus {
  height: 500px;
}
.multipleState > span:checked {
  height: 500px;
}
.multipleState {
  width: 200px;
}
.multipleState:hover {
  width: 400px;
}
.multipleState:focus {
  width: 400px;
}
.multipleState:checked {
  width: 400px;
}
.multipleState > span:hover {
  height: 500px;
}
.multipleState > span:focus {
  height: 500px;
}
.multipleState > span:checked {
  height: 500px;
}
