@import 'buttron.styl'

.multipleCustomState
  buttron({
    style: false
    width: 200px
    customState:{
      state: hover
      width: 400px
    }
    customState2:{
      state: focus
      width: 600px
    }
    customState3: {
      state: active
      width: 800px
    }
  })



buttron('.multipleCustomState', {
  style: false
  width: 200px
  customState:{
    state: hover
    width: 400px
  }
  customState2:{
    state: focus
    width: 600px
  }
  customState3: {
    state: active
    width: 800px
  }
})