@import 'buttron.styl'

.multipleState
  buttron({
    style: false
    width: 200px
    customState:{
      state: hover focus checked
      width: 400px
    }
    component: {
      span: {
        customState:{
          state: hover focus checked
          height: 500px
        }
      }
    }
  })



buttron('.multipleState', {
  style: false
  width: 200px
  customState:{
    state: hover focus checked
    width: 400px
  }
  component: {
    span: {
      customState:{
        state: hover focus checked
        height: 500px
      }
    }
  }
})