@import 'buttron.styl'

.multiState
  buttron({
    style: false
    hover: {
      background: green
      color: yellow
      option:{
        duration: 2s
      }
    }
    active: {
      background: red
    }
  });
  
.multiStateWithoutOpt
  buttron({
    style: false
    hover: {
      background: green
      color: yellow
    }
    active: {
      background: blue
    }
  });


buttron('.multiState', {
  style: false
  hover: {
    background: green
    color: yellow
    option:{
      duration: 2s
    }
  }
  active: {
    background: red
  }
});


buttron('.multiStateWithoutOpt', {
  style: false
  hover: {
    background: green
    color: yellow
  }
  active: {
    background: blue
  }
});
