.multipleCustomState {
  width: 200px;
}
.multipleCustomState:hover {
  width: 400px;
}
.multipleCustomState:focus {
  width: 600px;
}
.multipleCustomState:active {
  width: 800px;
}
.multipleCustomState {
  width: 200px;
}
.multipleCustomState:hover {
  width: 400px;
}
.multipleCustomState:focus {
  width: 600px;
}
.multipleCustomState:active {
  width: 800px;
}
