@import 'buttron.styl'

.singleState
  buttron({
    style: false
    hover: {
      background: green
      color: yellow
      option:{
        duration: 2s
      }
    }
  });
  
.singleStateWithoutOpt
  buttron({
    style: false
    hover: {
      background: green
      color: yellow
    }
  });


buttron('.singleState', {
  style: false
  hover: {
    background: green
    color: yellow
    option:{
      duration: 2s
    }
  }
});
  

buttron('.singleStateWithoutOpt', {
  style: false
  hover: {
    background: green
    color: yellow
  }
});