@import 'buttron.styl'

.stateCheck
  buttron({
    style: false
    background: black
    hover:{
      background: red
      transition: false
    }
    active: {
      background: green
      transition: false
    }
    focus: {
      background: yellow
      transition: false
    }
    visited: {
      background: teal
      font-size: 4rem
      color: purple
      transition: true
    }
    link: {
      background: purple
      color: green
      transition: true
    }
  });


buttron('.stateCheck', {
  style: false
  background: black
  hover:{
    background: red
    transition: false
  }
  active: {
    background: green
    transition: false
  }
  focus: {
    background: yellow
    transition: false
  }
  visited: {
    background: teal
    font-size: 4rem
    color: purple
    transition: true
  }
  link: {
    background: purple
    color: green
    transition: true
  }
});