.transOpts {
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
.transOpts:hover {
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
.transOpts {
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
.transOpts:hover {
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
