@import 'buttron.styl'

.transOpts
  buttron({
    style: false
    hover:{
      option:{
        shorthand:{
          background: 2s ease-in 3s
        }
      }
    }
  });


buttron('.transOpts', {
  style: false
  hover:{
    option:{
      shorthand:{
        background: 2s ease-in 3s
      }
    }
  }
});