@import 'buttron.styl'

.transOpts
  buttron({
    style: false
    hover:{
      option:{
        duration: 2s
        delay: 2s
        ease: ease-in
      }
    }
  });


buttron('.transOpts', {
  style: false
  hover:{
    option:{
      duration: 2s
      delay: 2s
      ease: ease-in
    }
  }
});