@import 'buttron.styl'

.stateCheck
  buttron({
    style: false
    background: black
    hover:{
      background: red
    }
    active: {
      background: green
    }
    focus: {
      background: yellow
    }
    visited: {
      background: teal
    }
    link: {
      background: purple
    }
  });


buttron('.stateCheck', {
  style: false
  background: black
  hover:{
    background: red
  }
  active: {
    background: green
  }
  focus: {
    background: yellow
  }
  visited: {
    background: teal
  }
  link: {
    background: purple
  }
});