.transOpts {
  transition: background 2s ease-in 3s;
}
.transOpts:hover {
  transition: background 2s ease-in 3s;
}
.transOpts {
  transition: background 2s ease-in 3s;
}
.transOpts:hover {
  transition: background 2s ease-in 3s;
}
