@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    trans:{
      background: green
      font-size: 2rem
      option:{
        ease: ease-out
        shorthand:{
          background: 1s
          font-size: 0.5s ease-in 0.25s
        }
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 200px
  transition:{
    background: green
    font-size: 2rem
    option:{
      ease: ease-out
      shorthand:{
        background: 1s
        font-size: 0.5s ease-in 0.25s
      }
    }
  }
})