@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      border-width: 30px
      option:{
        property: left right
        duration: 1s 2.2s
        delay: 2s
        ease: ease-in
        shorthand:{
          background: 1s
          font-size: 0.5s ease-out 0.25s
       }
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 300px
  transition:{
    border-width: 30px
    option:{
      property: left right
      duration: 1s 2.2s
      delay: 2s
      ease: ease-in
      shorthand:{
        background: 1s
        font-size: 0.5s ease-out 0.25s
     }
    }
  }
})