
_bracketsFadeIn = {transform: 0.3s, opacity: 0.4s}
_bracketsFadeOut = {transform: 0.4s, opacity: 0.2s}

//Colored brackets
_bracketsStyle1 = {
  component:{
    span:{
      before:{
        color: #2980B9
      }
      after: {
        color: #2980B9
      }
    }
  }
}

//Color all around
_bracketsStyle2 = {
  globalOptions: {
    duration: 0.2s
  }
  hover:{
    color: #E74C3C
    options:{
      duration: 0.4s
    }
  }
  component:{
    span:{
      before:{
        color: #2980B9
      }
      after: {
        color: #2980B9
      }
    }
  }
}

//letter-spacing
_bracketsStyle3 = {
  globalOptions: {
    duration: 0.2s
  }
  hover:{
    letter-spacing: 4px
    options:{
      duration: 0.2s
    }
  }
  component:{
    span:{
      before:{
        color: #2980B9
      }
      after: {
        color: #2980B9
      }
    }
  }
}

//daPolice
_bracketsStyle4 = {
  color: #C0392B
  hover: {
    anim:{
      name: daPolice
      count: infinite
      duration: 0.75s
      timeline:{
        "25%":{
          color: #ECF0F1
        }
        "75%":{
          color: #2C3E50
        }
      }
    }
  }
  component:{
    span:{
      before:{
        color: #C0392B
        top: -5px
        border-top: 4px solid transparent
        border-bottom: 5px solid #C0392B
        hover:{
          anim:{
            name: daPoliceSides
            count: infinite
            duration: 0.75s
            delay: 0.25s
            timeline:{
              "25%":{
                color: #ECF0F1
                top: -5px
              }
              "40%":{
                top: -14px
                border-color: #2C3E50
              }
              "75%":{
                color: #2C3E50
                top: -5px

              }
            }
          }
        }
      }
      after: {
        color: #C0392B
        top: -5px
        border-top: 4px solid transparent
        border-bottom: 5px solid #C0392B
        hover:{
          anim:{
            override: true
            name: daPoliceSides
            count: infinite
            duration: 0.75s
            delay: 0.25s
          }
        }
      }
    }
  }
}

brackets = createButtronClass('brackets',{
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 400
  text-shadow: "0 0 1px rgba(255,255,255,0.3)"
  font-size: 1.35em
  background: transparent
  color: #7F8C8D
  component:{
    span:{
      //Pseudo Elms
      before:{
        content: "'['"
        position: absolute
        left: 10%
        top: -3px
        opacity: 0
        margin-right: 10px
        font-size: 1.4em
        transition: {
          options:{
            shorthand: _bracketsFadeOut
          }
        }
        hover:{
          transform: translateX(-20px)
          opacity: 1
          options:{
            shorthand: _bracketsFadeIn
          }
        }
      }
      after:{
        content: "']'"
        position: absolute
        right: 10%
        top: -3px
        opacity: 0
        margin-left: 10px
        font-size: 1.4em
        transition: {
          options:{
            shorthand: _bracketsFadeOut
          }
        }
        hover:{
          transform: translateX(20px)
          opacity: 1
          options:{
            shorthand: _bracketsFadeIn
          }
        }
      }
    }
  }
})


//--------------------------//
//Flip
//-------------------------//

//Color Change
_newFlipBg = #E74C3C
_flipStyle1 = {
  background: _newFlipBg
  component:{
    span:{
      before:{
        background: darken(_newFlipBg, 60%)
        hover:{
          background: _newFlipBg
        }
      }
    }
  } 
}

//borders
_flipStyle2 = {
  component:{
    span:{
      before:{
        hover:{
          border-left: 15px solid #2ECC71
          border-right: 15px solid #2ECC71
          options:{
            shorthand: {
              background: 0.3s
              border: 0.3s ease-out 0.3s
            }
          }
        }
      }
    }
  } 
}

//Get Tricky
_flipStyle3 = {
  component:{
    span:{
      before:{
        hover:{
          anim:{
            name: _flipAgian
            delay: 0.3s
            timeline:{
              "25%": {
                transform: rotateY(180deg)
              }
              "75%": {
                transform: rotateY(360deg)
              }
            }
          }
        }
      }
    }
  } 
}


_flipStyle4 = {
  component:{
    span:{
      before:{
        hover:{
          anim:{
            name: _fullCircle
            delay: 0.3s
            duration: 1.5s
            timeline:{
              "25%": {
                transform: translate(-50px)
              }
              "75%": {
                transform: translate(50px)
              }
            }
          }
        }
      }
    }
  } 
}

_flipBg = #3498DB;
flip = createButtronClass('flip',{
  perspective: 1000px
  background: _flipBg
  component:{
    span:{
      width: 100%
      height: 100%
      position: relative
      display: inline-block
      transform-origin: "50% 0"
      transform-style: preserve-3d
      width: 100%
      hover:{
        transform: rotateX(90deg) translateY(-22px)
        options:{
          shorthand: "transform 0.3s"
        }
      }
      before:{
        position: absolute
        top: 100%
        left: 0
        width: 100%
        height: 100%
        background: darken(_flipBg, 60%)
        content: attr(data-hover)
        hover:{
          background: _flipBg
          options:{
            shorthand: "background 0.3s" 
          }
        }
        transform: rotateX(-90deg)
        transform-origin: "50% 0"
      }
    }
  }
})



//--------------------------//
//Simple Line
//-------------------------//

_lineStyle1 = {
  component:{
    span:{
      after:{
        width: 0%
        left: 50%
        right: 50%
        hover:{
          width: 50%
          left: 25%
          right: 25%
        }
      }
    }
  }
}



_lineStyle2 = {
  component:{
    span:{
      after:{
        height: 8px
        border-radius: 4px
        opacity: 0
        background: "linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%)"
        width: 100px
        anim:{
          name: _terminate
          duration: 1s
          count: infinite
          direction: alternate
          timeline:{
            "to":{
              background-position: "40px 0%"
            }
            "from":{
              background-position: "-40px 0%"
            }
          }
        }
      }
    }
  }
}


_lineStyle3 = {
  component:{
    span:{
      after:{
        opacity: 0
        width: 0%
        left: 50%
        right: 50%
        transform: translateY(-5px)
        background: "radial-gradient(ellipse at center, rgba(192, 57, 43, 1) 0%, rgba(255,255,255,0.55) 63%, rgba(255,255,255,0.05) 100%)"
        hover:{
          width: 50%
          left: 25%
          right: 25%
        }
      }
    }
  }
}


_lineStyle4 = {
  component:{
    span:{
      after:{
        width: 100px
        // background-position: "100px 100px"
        border-left: 0px solid #27AE60
        transition:{
          options:{
            shorthand:{
              border-left: 0.2s ease-out
              transform: 0.4s ease-out 0.1s
              opacity: 0.4s ease-out 0.1s
            }
          }
        }
        hover:{
          border-left: 100px solid #27AE60
          options:{
            shorthand:{
              border-left: 0.3s ease-in 0.4s
              transform: 0.4s ease-in
              opacity: 0.4s ease-in
            }
          }
        }
      }
    }
  }
}


simpleLine = createButtronClass('simpleLine',{
  background: transparent
  color: #666
  component:{
    span:{
      width: 100%
      height: 100%
      after:{
        content: "''"
        position: absolute
        left: 25%
        bottom: 0
        width: 50%
        height: 4px
        opacity: 0
        background: rgba(0,0,0,0.1)
        hover:{
          root: true
          transform: translateY(-11px)
          opacity: 1
        }
      }
    }
  }
})


//--------------------------//
//Two Lines
//-------------------------//

_twoLinesStyle1 = {
  globalOptions:{
    delay: 0s
  }
  hover:{
    color: white
    options:{
      delay: 1s
    }
  }
  component:{
    span: {
      after:{
        transform: scale(0.5)
        hover:{
          background: #3498DB
          height: 40px
          transform: "scale(1.2) translateY(30px)"
          options:{
            shorthand: {              
              height: 0.5s ease-in-out 0.5s
              bottom: 0.5s ease-in
              transform: 0.5s ease-in 0.5s
              opacity: 0.4s ease-in
              background: 0.4s ease-in
            }
          }
        }
      }
    }
  }
}

_twoLinesStyle2 = {
  color: #13846E
  hover:{
    color: white
    options:{
      duration: 1s
    }
  }
  component:{
    span: {
      before:{
        z-index: 1
      }
      before:{
        hover:{
          height: 40px
          background: transparent
          options:{
            shorthand:{
              height: 0.5s ease-in
              background: 0.5s ease-in 0.5s
              transform: 0.5s ease-in
            }
          }
        }
      }
      after:{
        background: #1ABC9C
        hover:{
          background: #13846E
          height: 40px
          bottom: 0px
          options:{
            shorthand: {              
              height: 0.5s ease-in 0.5s
              bottom: 0.5s ease-in 0.5s
              transform: 0.5s ease-in 0.5s
              opacity: 0.5s ease-in 0.5s
              background: 0.5s ease-in 0.5s
            }
          }
        }
      }
    }
  }
}

_twoLinesStyle3 = {
  component:{
    span:{
      before:{
        trasition:{
          options:{
            shorthand:{
              background: 0.5s ease-in
              height: 0.4s ease-in
              border: 0.5s ease-in
              transform: 0.5s
            }
          }
        }
        // hover:{
        //   height: 32px
        //   background: transparent
        //   border-bottom: 7px solid rgba(0, 0, 0, 0.3)
        //   border-left: 5px solid rgba(0, 0, 0, 0.3)
        //   border-right: 5px solid rgba(0, 0, 0, 0.3)
        //   options:{
        //     shorthand:{
        //       background: 0.1s ease-in
        //       height: 0.4s ease-in 0.1s
        //       border: 0.5s ease-in 0.5s
        //       transform: 0.5s
        //     }
        //   }
        // }
      }
    }
  }
}

twoLines = createButtronClass('twoLines', {
  background: transparent
  color: #666
  height: 40px
  component:{
    span:{
      position: absolute
      top: 100%
      width: 100%
      top: 0
      left: 0
      before: {
        content: "''"
        position: absolute
        background: rgba(0, 0, 0, 0.2)
        height: 5px
        width: 60%
        left: 20%
        bottom: 0
        border-radius: 2px
        hover:{
          background: rgba(0, 0, 0, 0.3)
          root: true
          transform: scale(1.2)
        }
      }
      after:{
        content: "''"
        position: absolute
        background: rgba(0, 0, 0, 0.2)
        width: 60%
        left: 20%
        height: 5px
        bottom: 0
        border-radius: 2px
        z-index: -1
        opacity: 0
        hover:{
          root: true
          opacity: 1
          bottom: 35px
          background: rgba(0, 0, 0, 0.3)
          transform: scale(1.2)
        }
      }
    }
  }
})


// .cr1
//   brackets();

// //Colored brackets
// .cr2
//   brackets({
//     import:{
//       style: _bracketsStyle1
//     }
//   });

// .cr3
//   brackets({
//     import:{
//       style: _bracketsStyle2
//     }
//   });

// .cr4
//   brackets({
//     import:{
//       style: _bracketsStyle3
//     }
//   });

// .cr5
//   brackets({
//     import:{
//       style: _bracketsStyle4
//     }
//   });


// .cr6
//   flip();

// .cr7
//   flip({
//     import:{
//       style: _flipStyle1
//     }
//   });

// .cr8
//   flip({
//     import:{
//       style: _flipStyle2
//     }
//   });

// .cr9
//   flip({
//     import:{
//       style: _flipStyle3
//     }
//   });

// .cr10
//   flip({
//     import:{
//       style: _flipStyle4
//     }
//   });



// .cr11
//   simpleLine()

// .cr12
//   simpleLine({
//     import:{
//       style: _lineStyle1
//     }
//   })

// .cr13
//   simpleLine({
//     import:{
//       style: _lineStyle2
//     }
//   })


// .cr14
//   simpleLine({
//     import:{
//       style: _lineStyle3
//     }
//   })
  
// .cr15
//   simpleLine({
//     import:{
//       style: _lineStyle4
//     }
//   })


// .cr16
//   twoLines()

// .cr17
//   twoLines({
//     import:{
//       style: _twoLinesStyle1
//     }
//   })
  
// .cr18
//   twoLines({
//     import:{
//       style: _twoLinesStyle2
//     }
//   })
  
// .cr19
//   twoLines({
//     import:{
//       style: _twoLinesStyle3
//     }
//   })