
hoverGrow = createButtronClass('hoverGrow', {
  $$: {
    background: #27AE60
    color: #ECF0F1
  }
  background: "$$[background]"
  color: "$$[color]"
  hover: _hGrow
  active: _hGrow
  focus: _hGrow
})
_hGrow = {
  transform: scale(1.1)
  options: {
    property: transform
    duration: 0.3s
  },
  globalOptions: {
    property: transform
  }
}