@import 'buttron.styl'

.test
  buttron({
    style: false
    component:{
      span:{
        font-size: 1rem
      }
    }
  })
  
buttron('.test', {
  style: false
  component:{
    comp1:{
      element: '.kool'
      font-size: 1rem
    }
  }
})