@import 'buttron.styl'

transPrivateVars = ButtronClass('transPrivateVars', {
  style: false
  font-size: 1rem
  $$:{
    ease: ease-in
    time: 5s
    time2: 10s
  }
  hover:{
    background: green
    option:{
      duration: "$$[time]"
      ease: "$$[ease]"
      delay: "$$[time2]"
    }
  }
})

.test
  transPrivateVars()

transPrivateVars('.test')