@import 'buttron.styl'

transPrivateVarsG = ButtronClass('transPrivateVarsG', {
  style: false
  font-size: 1rem
  $$:{
    ease: ease-in
    time: 5s
    time2: 10s
  }
  hover:{
    background: green
    globalOption:{
      duration: "$$[time]"
      ease: "$$[ease]"
      delay: "$$[time2]"
    }
  }
})

.test
  transPrivateVarsG()

transPrivateVarsG('.test')