.test {
  font-size: 1rem;
}
.test {
  transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
}
.test:hover {
  transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
  background: #008000;
}
.test {
  font-size: 1rem;
}
.test {
  transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
}
.test:hover {
  transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
  background: #008000;
}
