@import 'buttron.styl'

transPrivateVarsDefault = ButtronClass('transPrivateVarsDefault', {
  style: false
  font-size: 1rem
  $$:{
    ease: ease-in
    time: 5s
    time2: 10s
  }
  default:{
    transition:{
      ease: "$$[ease]"
      delay: "$$[time2]"
    }
    hover:{
      duration: "$$[time]"
    }
  }
  hover:{
    background: green
  }
  active:{
    background: yellow
  }
})

.test
  transPrivateVarsDefault()

transPrivateVarsDefault('.test')