.test {
  font-size: 1rem;
}
.test {
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
}
.test:hover {
  transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
  background: #008000;
}
.test:active {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
  background: #ff0;
}
.test {
  font-size: 1rem;
}
.test {
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
}
.test:hover {
  transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
  background: #008000;
}
.test:active {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 10s;
  background: #ff0;
}
