@import 'buttron.styl'

transPrivateVarsShort = ButtronClass('transPrivateVarsShort', {
  style: false
  font-size: 1rem
  $$:{
    ease: ease-in
    time: 5s
    time2: 10s
  }
  hover:{
    background: green
    option:{
      shorthand: {
        background: "$$[time]" "$$[ease]" "$$[time2]"
        backgroundA: 3s "$$[ease]" "$$[time2]"
        backgroundB: "$$[time]" ease-out "$$[time2]"
        backgroundC: "$$[time]" "$$[ease]" 10s
        backgroundD: 1s ease-out 3s
      }
    }
  }
})

.test
  transPrivateVarsShort()

transPrivateVarsShort('.test')