.test {
  font-size: 1rem;
}
.test {
  transition: background 5s ease-in 10s , backgroundA 3s ease-in 10s , backgroundB 5s ease-out 10s , backgroundC 5s ease-in 10s , backgroundD 1s ease-out 3s;
}
.test:hover {
  transition: background 5s ease-in 10s , backgroundA 3s ease-in 10s , backgroundB 5s ease-out 10s , backgroundC 5s ease-in 10s , backgroundD 1s ease-out 3s;
  background: #008000;
}
.test {
  font-size: 1rem;
}
.test {
  transition: background 5s ease-in 10s , backgroundA 3s ease-in 10s , backgroundB 5s ease-out 10s , backgroundC 5s ease-in 10s , backgroundD 1s ease-out 3s;
}
.test:hover {
  transition: background 5s ease-in 10s , backgroundA 3s ease-in 10s , backgroundB 5s ease-out 10s , backgroundC 5s ease-in 10s , backgroundD 1s ease-out 3s;
  background: #008000;
}
