@import 'buttron.styl'

.test
  buttron({
    style: false
    component:{
      span:{
        trans:{
          background: red
          option:{
            applyTo: '.kool'
          }
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  component:{
    span:{
      trans:{
        background: red
        option:{
          applyTo: '.kool'
        }
      }
    }
  }
})