@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      one:{
        option:{
          state: running
          count: 10
        }
        timeline: tlOne
      }
      tlTwo: {
        option:{
          ease: ease-in
        }
        timeline: tlTwo
      }
      tlThree:{
        option:{
          duration: 2s
          delay: 0.5s
          applyTo: span
        }
        timeline: tlThree
      }
      globalOption:{
        state: paused
        duration: 1s
      }
    }
  })



buttron('.test', {
  style: false
  anim:{
    one:{
      option:{
        state: running
        count: 10
      }
      timeline: tlOne
    }
    tlTwo: {
      option:{
        ease: ease-in
      }
      timeline: tlTwo
    }
    tlThree:{
      option:{
        duration: 2s
        delay: 0.5s
        applyTo: span
      }
      timeline: tlThree
    }
    globalOption:{
      state: paused
      duration: 1s
    }
  }
})