@import 'buttron.styl'
//one
.lineHeight
  buttron({
    style: true
    border: 5px solid green
  })

buttron('.lineHeight', {
  style: true
  border: 5px solid green
})

//two
.lineHeight2
  buttron({
    style: true
    border-style: solid
    border-color: green
    border-width: 5px
  })
  
buttron('.lineHeight2', {
  style: true
  border-style: solid
  border-color: green
  border-width: 5px
})

//three
.lineHeight3
  buttron({
    style: true
    border-top: 10px solid green
    border-bottom: 5px solid yellow
  })

buttron('.lineHeight3', {
  style: true
  border-top: 10px solid green
  border-bottom: 5px solid yellow
})


//Overwrite
.lineHeight4
  buttron({
    style: true
    border: 10px solid green
    line-height: 20px
  })

buttron('.lineHeight4', {
  style: true
  border: 10px solid green
  line-height: 20px
})