@-moz-keyframes tlOne {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes tlOne {
  50% {
    background: #008000;
  }
}
@-o-keyframes tlOne {
  50% {
    background: #008000;
  }
}
@keyframes tlOne {
  50% {
    background: #008000;
  }
}
.test {
  font-size: 2rem;
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: tlOne;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 10;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
@-moz-keyframes tlOne {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes tlOne {
  50% {
    background: #008000;
  }
}
@-o-keyframes tlOne {
  50% {
    background: #008000;
  }
}
@keyframes tlOne {
  50% {
    background: #008000;
  }
}
.test {
  font-size: 2rem;
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: tlOne;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 10;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
