@import 'buttron.styl'

.test
  buttron({
    style: false
    transition: {
      option:{
        duration: 2s
      }
      font-size: 2rem
    }
    animation: {
      name: tlOne
      option:{
        count: 10
      }
      timeline:{
        '50':{
          background: green
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  transition: {
    option:{
      duration: 2s
    }
    font-size: 2rem
  }
  animation: {
    name: tlOne
    option:{
      count: 10
    }
    timeline:{
      '50':{
        background: green
      }
    }
  }
})