.defualt {
  background: #008000;
}
@-moz-keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
@-webkit-keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
@-o-keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
@keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
.defualt {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
}
.defualt:hover {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
  animation-name: test;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  background: #ff0;
}
.defualt {
  background: #008000;
}
@-moz-keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
@-webkit-keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
@-o-keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
@keyframes test {
  25% {
    background: #00f;
  }
  75% {
    background: #800080;
  }
}
.defualt {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
}
.defualt:hover {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 3s;
  animation-name: test;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  background: #ff0;
}
