@import 'buttron.styl'

.defualt
  buttron({
    style: false
    default: {
      duration: 2s
      ease: ease-in
      delay: 3s
    }
    background: green
    hover:{
      background: yellow
      anim: {
        name: test
        timeline:{
          "25%":{
            background: blue
          }
          "75%":{
            background: purple
          }
        }
      }
    }
  })


buttron('.defualt', {
  style: false
  default: {
    duration: 2s
    ease: ease-in
    delay: 3s
  }
  background: green
  hover:{
    background: yellow
    anim: {
      name: test
      timeline:{
        "25%":{
          background: blue
        }
        "75%":{
          background: purple
        }
      }
    }
  }
})