@import 'buttron.styl'

.defualtProps
  buttron({
    position: fixed
    margin: 2rem
    border: 5px solid green
    padding: 1em
    width: 350px
    height: 50px
    border-radius: 9px
    overflow: visable
    cursor: defualt
    background: red
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
    z-index: 9999
    color: purple
    font-weight: bold
    text-align: bold
    font-size: 5rem
    font-family: Ubuntu
    vertical-align: 20px
    text-decoration: underline
    line-height: 10px
  })

buttron('.defualtProps', {
    position: fixed
    margin: 2rem
    border: 5px solid green
    padding: 1em
    width: 350px
    height: 50px
    border-radius: 9px
    overflow: visable
    cursor: defualt
    background: red
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
    z-index: 9999
    color: purple
    font-weight: bold
    text-align: bold
    font-size: 5rem
    font-family: Ubuntu
    vertical-align: 20px
    text-decoration: underline
    line-height: 10px
})