.defualtProps {
  position: fixed;
  width: 350px;
  height: 50px;
  margin: 2rem;
  padding: 1em;
  background: #f00;
  color: #800080;
  border: 5px solid #008000;
  border-radius: 9px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  font-size: 5rem;
  font-weight: bold;
  font-family: Ubuntu;
  text-align: bold;
  vertical-align: 20px;
  text-decoration: underline;
  line-height: 10px;
  cursor: defualt;
  overflow: visable;
  z-index: 9999;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.defualtProps {
  position: fixed;
  width: 350px;
  height: 50px;
  margin: 2rem;
  padding: 1em;
  background: #f00;
  color: #800080;
  border: 5px solid #008000;
  border-radius: 9px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  font-size: 5rem;
  font-weight: bold;
  font-family: Ubuntu;
  text-align: bold;
  vertical-align: 20px;
  text-decoration: underline;
  line-height: 10px;
  cursor: defualt;
  overflow: visable;
  z-index: 9999;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
