.test span {
  animation-name: tlOne, tlTwo;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1, 1;
  animation-delay: 0s, 0s;
  animation-direction: normal, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
}
.test span {
  animation-name: tlOne, tlTwo;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1, 1;
  animation-delay: 0s, 0s;
  animation-direction: normal, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
}
