@import 'buttron.styl'
animPrivateVars = ButtronClass('animPrivateVars', {
  style: false
  font-size: 1rem
  $$:{
    ease: ease-in
    time: 5s
    time2: 10s
    bg: red
  }
  hover:{
    anim:{
      name: 'test'
      option:{
        duration: "$$[time]"
        delay: "$$[time2]"
        ease: "$$[ease]"
      }
      timeline:{
        "50%":{
          background: "$$[bg]"
        }
      }
    }
  }
})

.test
  animPrivateVars()

animPrivateVars('.test')