.test {
  font-size: 1rem;
}
@-moz-keyframes test {
  50% {
    background: #f00;
  }
}
@-webkit-keyframes test {
  50% {
    background: #f00;
  }
}
@-o-keyframes test {
  50% {
    background: #f00;
  }
}
@keyframes test {
  50% {
    background: #f00;
  }
}
.test:hover {
  animation-name: test;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 10s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test {
  font-size: 1rem;
}
@-moz-keyframes test {
  50% {
    background: #f00;
  }
}
@-webkit-keyframes test {
  50% {
    background: #f00;
  }
}
@-o-keyframes test {
  50% {
    background: #f00;
  }
}
@keyframes test {
  50% {
    background: #f00;
  }
}
.test:hover {
  animation-name: test;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 10s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
