@import 'buttron.styl'
animPrivateVarsDefault = ButtronClass('animPrivateVarsDefault', {
  style: false
  font-size: 1rem
  $$:{
    ease: ease-in
    time: 5s
    time2: 10s
    bg: red
  }
  default:{
    animation:{
      duration: "$$[time]"
      delay: "$$[time2]"
      ease: "$$[ease]"
    }
  }
  hover:{
    anim:{
      name: 'test'
      timeline:{
        "50%":{
          background: "$$[bg]"
        }
      }
    }
  }
})

.test
  animPrivateVarsDefault()

animPrivateVarsDefault('.test')