.varProperties {
  background: #1abc9c;
}
.varProperties {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
}
.varProperties:hover {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
  background: rgba(18,132,109,0.7);
}
.varProperties {
  background: #1abc9c;
}
.varProperties {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
}
.varProperties:hover {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
  background: rgba(18,132,109,0.7);
}
