@import 'buttron.styl'

$baseTime = 0.5s
$color = #1ABC9C
.varProperties
  buttron({
    style: false
    default:{
      delay: $baseTime * 2
    }
    background: $color
    hover:{
      background: alpha(darken($color, 30%), 0.7)
      option:{
        duration: $baseTime
      }
    }
  })

buttron('.varProperties', {
  style: false
  default:{
    delay: $baseTime * 2
  }
  background: $color
  hover:{
    background: alpha(darken($color, 30%), 0.7)
    option:{
      duration: $baseTime
    }
  }
})