.test:first-child {
  background: #008000;
}
.test:last-child {
  background: #008000;
}
.test:nth-child(2) {
  background: #008000;
}
.test:first-child {
  background: #008000;
}
.test:last-child {
  background: #008000;
}
.test:nth-child(2) {
  background: #008000;
}
