@import 'buttron.styl'

.component
  buttron({
    style: false
    after:{
      content: 'after'
    }
    before:{
      content: 'before'
    }
    first-child:{
      background: green
    }
    "nth-child(3)":{
      color: yellow
    }
    customElement:{
      element: last-of-type
      font-size: 2rem
    }
    component:{
      span:{
        after:{
          content: 'after'
        }
        before:{
          content: 'before'
        }
        first-child:{
          background: green
        }
        "nth-child(3)":{
          color: yellow
        }
        customElement:{
          element: last-of-type
          font-size: 2rem
        }
      }
    }
  })



buttron('.component', {
  style: false
  after:{
    content: 'after'
  }
  before:{
    content: 'before'
  }
  first-child:{
    background: green
  }
  "nth-child(3)":{
    color: yellow
  }
  customElement:{
    element: last-of-type
    font-size: 2rem
  }
  component:{
    span:{
      after:{
        content: 'after'
      }
      before:{
        content: 'before'
      }
      first-child:{
        background: green
      }
      "nth-child(3)":{
        color: yellow
      }
      customElement:{
        element: last-of-type
        font-size: 2rem
      }
    }
  }
})