.elementTest:before {
  content: 'Before';
}
.elementTest:after {
  content: 'After';
}
.elementTest:first-child {
  background: #008000;
}
.elementTest:nth-child(2) {
  background: #008000;
}
.elementTest:before {
  content: 'Before';
}
.elementTest:after {
  content: 'After';
}
.elementTest:first-child {
  background: #008000;
}
.elementTest:nth-child(2) {
  background: #008000;
}
