@import 'buttron.styl'

.elementTest
  buttron({
    style: false
    before:{
      content: 'Before'
    }
    after: {
      content: 'After'
    }
    first-child:{
      background: green
    }
    customElement:{
      element: "nth-child(2)"
      background: green
    }
  })


buttron('.elementTest', {
  style: false
  before:{
    content: 'Before'
  }
  after: {
    content: 'After'
  }
  first-child:{
    background: green
  }
  customElement:{
    element: "nth-child(2)"
    background: green
  }
})