.component:after {
  content: 'after';
}
.component:before {
  content: 'before';
}
.component:first-child {
  background: #008000;
}
.component:nth-child(3) {
  color: #ff0;
}
.component:last-of-type {
  font-size: 2rem;
}
.component > span:after {
  content: 'after';
}
.component > span:before {
  content: 'before';
}
.component > span:first-child {
  background: #008000;
}
.component > span:nth-child(3) {
  color: #ff0;
}
.component > span:last-of-type {
  font-size: 2rem;
}
.component:after {
  content: 'after';
}
.component:before {
  content: 'before';
}
.component:first-child {
  background: #008000;
}
.component:nth-child(3) {
  color: #ff0;
}
.component:last-of-type {
  font-size: 2rem;
}
.component > span:after {
  content: 'after';
}
.component > span:before {
  content: 'before';
}
.component > span:first-child {
  background: #008000;
}
.component > span:nth-child(3) {
  color: #ff0;
}
.component > span:last-of-type {
  font-size: 2rem;
}
