@import 'buttron.styl'

.multipleElm
  buttron({
    style: false
    width: 200px
    customElement:{
      element: before after first-child "nth-of-type(2)"
      position: absolute
      z-index: -10
      width: 100%
      height: 100%
    }
    after:{
      left: 50%
      background: #E74C3C
    }
    before:{
      right: 50%
      background: #9B59B6
    }
  })



buttron('.multipleElm', {
  style: false
  width: 200px
  customElement:{
    element: before after first-child "nth-of-type(2)"
    position: absolute
    z-index: -10
    width: 100%
    height: 100%
  }
  after:{
    left: 50%
    background: #E74C3C
  }
  before:{
    right: 50%
    background: #9B59B6
  }
})