.multipleElm {
  width: 200px;
}
.multipleElm:before {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:after {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:first-child {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:nth-of-type(2) {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:after {
  left: 50%;
  background: #e74c3c;
}
.multipleElm:before {
  right: 50%;
  background: #9b59b6;
}
.multipleElm {
  width: 200px;
}
.multipleElm:before {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:after {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:first-child {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:nth-of-type(2) {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.multipleElm:after {
  left: 50%;
  background: #e74c3c;
}
.multipleElm:before {
  right: 50%;
  background: #9b59b6;
}
