@import 'buttron.styl'

.pseudoOverride
  buttron({
    style: false
    background: yellow
    after:{
      background: green
      pseudo: false
      hover:{
        font-size: 10rem
      }
    }
    first-child:{
      background: green
      pseudo: true
      hover:{
        color: yellow
      }
    }
    component:{
      span:{
        width: 200px
        before: {
          border-color: green
          pseudo: false
          hover:{
            border-color: purple
          }
        }
        first-child:{
          font-size: 10rem
          pseudo: true
          hover:{
            font-size: 2rem
          }
        }
      }
    }
  })



buttron('.pseudoOverride', {
  style: false
  background: yellow
  after:{
    background: green
    pseudo: false
    hover:{
      font-size: 10rem
    }
  }
  first-child:{
    background: green
    pseudo: true
    hover:{
      color: yellow
    }
  }
  component:{
    span:{
      width: 200px
      before: {
        border-color: green
        pseudo: false
        hover:{
          border-color: purple
        }
      }
      first-child:{
        font-size: 10rem
        pseudo: true
        hover:{
          font-size: 2rem
        }
      }
    }
  }
})