.pseudoOverride {
  background: #ff0;
}
.pseudoOverride:after:hover {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.pseudoOverride:after {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.pseudoOverride:hover:first-child {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #ff0;
}
.pseudoOverride:first-child {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.pseudoOverride > span {
  width: 200px;
}
.pseudoOverride > span:before:hover {
  transition-property: border-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  border-color: #800080;
}
.pseudoOverride > span:before {
  transition-property: border-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  border-color: #008000;
}
.pseudoOverride > span:hover:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.pseudoOverride > span:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.pseudoOverride {
  background: #ff0;
}
.pseudoOverride:after:hover {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.pseudoOverride:after {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.pseudoOverride:hover:first-child {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #ff0;
}
.pseudoOverride:first-child {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.pseudoOverride > span {
  width: 200px;
}
.pseudoOverride > span:before:hover {
  transition-property: border-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  border-color: #800080;
}
.pseudoOverride > span:before {
  transition-property: border-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  border-color: #008000;
}
.pseudoOverride > span:hover:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.pseudoOverride > span:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
