button {
  background: #ff0;
}
button:first-child {
  height: 400px;
}
button:nth-last-of-type(2) {
  font-size: 2rem;
}
button:last-child {
  width: 200px;
}
button > span:last-child {
  float: left;
}
button {
  background: #ff0;
}
button:first-child {
  height: 400px;
}
button:nth-last-of-type(2) {
  font-size: 2rem;
}
button:last-child {
  width: 200px;
}
button > span:last-child {
  float: left;
}
