@import 'buttron.styl'

button
  buttron({
    style: false
    background: yellow
    first-child:{
      height: 400px
    }
    "nth-last-of-type(2)":{
      font-size: 2rem
    }
    only-child:{
      element: "last-child"
      width: 200px
    }
    component:{
      span:{
        last-child:{
          float: left
        }
      }
    }
  })


buttron('button', {
  style: false
  background: yellow
  first-child:{
    height: 400px
  }
  "nth-last-of-type(2)":{
    font-size: 2rem
  }
  only-child:{
    element: "last-child"
    width: 200px
  }
  component:{
    span:{
      last-child:{
        float: left
      }
    }
  }
})