@import 'buttron.styl'

.component
  buttron({
    style: false
    after:{
      content: 'after'
      hover:{
        background: green
        transition: false
      }
    }
    before:{
      content: 'before'
      color: green
      active:{
        color: yellow
        transition: false
      }
    }
    first-child:{
      background: green
      focus:{
        font-size: 2rem
      }
    }
    "nth-child(3)":{
      color: yellow
      link:{
        background: black
      }
    }
    customElement:{
      element: last-of-type
      font-size: 2rem
      visited:{
        color: teal
      }
    }
    component:{
      span:{
        after:{
          content: 'after'
          hover:{
            background: green
            transition: false
          }
        }
        before:{
          content: 'before'
          active:{
            color: yellow
            transition: false
          }
        }
        first-child:{
          font-size: 10rem
          focus:{
            font-size: 2rem
          }
        }
        "nth-child(3)":{
          background: yellow
          transition:{
            option:{
              duration: 10s
            }
          }
          link:{
            background: black
            transition: true
          }
        }
        customElement:{
          element: last-of-type
          font-size: 2rem
          visited:{
            font-size: 5rem
            transition: true
          }
        }
      }
    }
  })





buttron('.component', {
  style: false
  after:{
    content: 'after'
    hover:{
      background: green
      transition: false
    }
  }
  before:{
    content: 'before'
    color: green
    active:{
      color: yellow
      transition: false
    }
  }
  first-child:{
    background: green
    focus:{
      font-size: 2rem
    }
  }
  "nth-child(3)":{
    color: yellow
    link:{
      background: black
    }
  }
  customElement:{
    element: last-of-type
    font-size: 2rem
    visited:{
      color: teal
    }
  }
  component:{
    span:{
      after:{
        content: 'after'
        hover:{
          background: green
          transition: false
        }
      }
      before:{
        content: 'before'
        active:{
          color: yellow
          transition: false
        }
      }
      first-child:{
        font-size: 10rem
        focus:{
          font-size: 2rem
        }
      }
      "nth-child(3)":{
        background: yellow
        transition:{
          option:{
            duration: 10s
          }
        }
        link:{
          background: black
          transition: true
        }
      }
      customElement:{
        element: last-of-type
        font-size: 2rem
        visited:{
          font-size: 5rem
          transition: true
        }
      }
    }
  }
})