.component:hover:after {
  background: #008000;
}
.component:after {
  content: 'after';
}
.component:active:before {
  color: #ff0;
}
.component:before {
  content: 'before';
  color: #008000;
}
.component:first-child:focus {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.component:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.component:nth-child(3):link {
  background: #000;
}
.component:nth-child(3) {
  color: #ff0;
}
.component:last-of-type:visited {
  color: #008080;
}
.component:last-of-type {
  font-size: 2rem;
}
.component > span:hover:after {
  background: #008000;
}
.component > span:after {
  content: 'after';
}
.component > span:active:before {
  color: #ff0;
}
.component > span:before {
  content: 'before';
}
.component > span:first-child:focus {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.component > span:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.component > span:nth-child(3):link {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #000;
}
.component > span:nth-child(3) {
  transition-property: background;
  transition-duration: 10s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #ff0;
}
.component > span:last-of-type:visited {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 5rem;
}
.component > span:last-of-type {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.component:hover:after {
  background: #008000;
}
.component:after {
  content: 'after';
}
.component:active:before {
  color: #ff0;
}
.component:before {
  content: 'before';
  color: #008000;
}
.component:first-child:focus {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.component:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.component:nth-child(3):link {
  background: #000;
}
.component:nth-child(3) {
  color: #ff0;
}
.component:last-of-type:visited {
  color: #008080;
}
.component:last-of-type {
  font-size: 2rem;
}
.component > span:hover:after {
  background: #008000;
}
.component > span:after {
  content: 'after';
}
.component > span:active:before {
  color: #ff0;
}
.component > span:before {
  content: 'before';
}
.component > span:first-child:focus {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.component > span:first-child {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.component > span:nth-child(3):link {
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #000;
}
.component > span:nth-child(3) {
  transition-property: background;
  transition-duration: 10s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #ff0;
}
.component > span:last-of-type:visited {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 5rem;
}
.component > span:last-of-type {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
