//Global Assets
@import '_global'
//Component Styles
@import '_components/*'
//Page Styles
@import '_pages/*'
@import '_vendor/hjStyles/tomorrow.css'
// @import '_vendor/ubuntu.css'

// @import 'buttons/btn_States'


code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background: rgba(210, 210, 210, 0.20)
  border: 1px solid rgba(210, 210, 210, 0.58)
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}


.doc_Wrapper
  center(1080px)
  h2, h3, h4, h5
    padding: 0
    margin: 0
  p
    margin: 0
    margin-top: 20px
  section > :nth-child(2)
    margin-top: 0px
  // section
  //   h4 ~ p:nth-child(2)
  //     background: green
  h3
    margin-top: 30px
    border-top: 5px solid gray
    border-bottom: 5px solid gray
  h4
    margin-top: 20px
    divider('bottom')
  .example
    font-weight: bold
  section:last-child
    margin-bottom: 300px
  
