.test {
  width: 300px;
}
@-moz-keyframes phat {
  50% {
    background: #008080;
  }
}
@-webkit-keyframes phat {
  50% {
    background: #008080;
  }
}
@-o-keyframes phat {
  50% {
    background: #008080;
  }
}
@keyframes phat {
  50% {
    background: #008080;
  }
}
.test:hover {
  animation-name: phat;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test {
  width: 300px;
}
@-moz-keyframes phat {
  50% {
    background: #008080;
  }
}
@-webkit-keyframes phat {
  50% {
    background: #008080;
  }
}
@-o-keyframes phat {
  50% {
    background: #008080;
  }
}
@keyframes phat {
  50% {
    background: #008080;
  }
}
.test:hover {
  animation-name: phat;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
