.test {
  width: 200px;
}
.test {
  transition-property: background, color, left;
  transition-duration: 2s, 0.5s, 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out, ease-in;
  transition-delay: 0s, 0s, 2s;
}
.test:hover {
  background: #008000;
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test:active {
  color: #008000;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.test:focus {
  border: 3px solid #008000;
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
.test:link {
  font-style: italic;
}
.test:visited {
  color: #808080;
}
.test {
  width: 200px;
}
.test {
  transition-property: background, color, left;
  transition-duration: 2s, 0.5s, 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out, ease-in;
  transition-delay: 0s, 0s, 2s;
}
.test:hover {
  background: #008000;
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test:active {
  color: #008000;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.test:focus {
  border: 3px solid #008000;
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}
.test:link {
  font-style: italic;
}
.test:visited {
  color: #808080;
}
