.test {
  width: 300px;
}
.test {
  transition-property: font-size, background, color, letter-spacing, border;
  transition-duration: 10s, 0.25s, 0.5s, 4s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 1s, 2s, 3s, 0s;
}
.test:hover {
  font-size: 1.2rem;
  background: #008000;
  color: #ff0;
  letter-spacing: 5px;
  border: 5px solid #00f;
  transition-property: font-size, background, color, letter-spacing, border;
  transition-duration: 1s, 2s, 1s, 3s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), ease-out, cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 0s, 0s, 0s, 0s;
}
.test {
  width: 300px;
}
.test {
  transition-property: font-size, background, color, letter-spacing, border;
  transition-duration: 10s, 0.25s, 0.5s, 4s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 1s, 2s, 3s, 0s;
}
.test:hover {
  font-size: 1.2rem;
  background: #008000;
  color: #ff0;
  letter-spacing: 5px;
  border: 5px solid #00f;
  transition-property: font-size, background, color, letter-spacing, border;
  transition-duration: 1s, 2s, 1s, 3s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), ease-out, cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 0s, 0s, 0s, 0s;
}
