.test {
  width: 200px;
}
.test {
  background: #008000;
  font-size: 2rem;
  width: 300px;
  transition-property: background, font-size, width;
  transition-duration: 1s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 0.25s, 0s;
}
.test {
  width: 200px;
}
.test {
  background: #008000;
  font-size: 2rem;
  width: 300px;
  transition-property: background, font-size, width;
  transition-duration: 1s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 0.25s, 0s;
}
