// @import 'buttron.styl'


.test
  buttron({
    width: 200px
    media:{
      sm:{
        background: red
      }
      globalOption: {

      }
    }
  })

//single
.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        mixin: sm
        type: all
      }
    }
  })

//multiple
.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        mixin: sm, lg
        type: all
      }
    }
  })



.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        type: {
          media: all
          condition: 'not'
        }
      }
    }
  })

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        feature:{
          'max-width': 800px
        }
      }
    }
  })


.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        type:{
          screen:{
            media: 'screen'
            condition: 'not'
          }
          print:{
            condition: 'not'
          }
          other:{
            condition: 'not'
          }
        }
      }
    }
  })

.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        type:{
          media: 'screen' 'tv'
          condition: only
        }
      }
    }
  })
  
.test
  buttron({
    width: 200px
    media:{
      //treated as indv
      sm:{
        background: red
      }
      md:{
        background: blue
      }
      lg:{
        background: green
      }
    }
  })


.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        type:{
          media: 'screen' 'tv'
          condition: only
        }
        //mixin
        mixin:{
          above: 100px
          below: 200px
          landscape: true
          portrait: false
          density: 1
        }
        //aux
        //GLOABAL??????????????
        'device-width': true
        'anit-overlap': true
      }
    }
  })
  

.test
  buttron({
    width: 200px
    media:{
      background: green
      option:{
        type:{
          media: 'screen' 'tv'
          condition: only
        }
        //mixin
        mixin:{
          media: moblie
          landscape: true
          density: 1
          'device-width': true
          'anit-overlap': true
          'device-width': 2
        }
        //aux
        //GLOABAL??????????????
      }
    }
  })
  

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option: {
        above: sm
      }
    }
  })