@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      multiple: true
      option:{
        applyTo: span
      }
      timeline:{
        tlOne: tlOne
        tlTwo: tlTwo
      }
    }
  })


buttron('.test', {
  style: false
  anim:{
    multiple: true
    option:{
      applyTo: span
    }
    timeline:{
      tlOne: tlOne
      tlTwo: tlTwo
    }
  }
})