@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        feature:{
          'max-width': 800px
        }
      }
    }
  })

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        feature:{
          'max-width': 800px
          'min-width': 200px
        }
      }
    }
  })
  

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      feature:{
        'max-width': 800px
      }
    }
  }
})

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      feature:{
        'max-width': 800px
        'min-width': 200px
      }
    }
  }
})