@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        type:{
          screen:{
            media: 'screen'
          }
          projection:{
            //default to key
            condition: 'not'
          }
          other:{
            media: 'print'
            condition: 'only'
          }
        }
      }
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      type:{
        screen:{
          media: 'screen'
        }
        projection:{
          //default to key
          condition: 'not'
        }
        other:{
          media: 'print'
          condition: 'only'
        }
      }
    }
  }
})