@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        type:{
          media: 'screen' 'tv'
          condition: 'only'
        }
      }
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      type:{
        media: 'screen' 'tv'
        condition: 'only'
      }
    }
  }
})