@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        type: screen
      }
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      type: 'screen'
    }
  }
})