@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        type: 'screen'
        'min-width': sm
        'max-width': 'lg'
      }
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      type: 'screen'
      'min-width': 'sm'
      'max-width': lg
    }
  }
})
