@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        at: 'md'
        max-height: 200px
        device-width: true
      }
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      at: 'md'
      max-height: 200px
      device-width: true
    }
  }
})
