@import 'buttron.styl'

.test
  buttron({
    background: #eee
    media:{
      'xs':{
        width: 100px
        option:{
          max-height: 400px
        }
      }
      'lg':{
        width: 500px
      }
      'hd':{
        width: 800px
      }
    }
  })

buttron('.test', {
  background: #eee
  media:{
    'xs':{
      width: 100px
      option:{
        max-height: 400px
      }
    }
    'lg':{
      width: 500px
    }
    'hd':{
      width: 800px
    }
  }
})
