@import 'buttron.styl'

.test
  buttron({
    background: #eee
    media:{
      'xs-sm':{
        width: 100px
        option:{
          max-height: 400px
        }
      }
      'md':{
        width: 500px
      }
      'lg-hd':{
        width: 800px
      }
      global:{
        color: #fff
      }
    }
  })

buttron('.test', {
  background: #eee
  media:{
    'xs-sm':{
      width: 100px
      option:{
        max-height: 400px
      }
    }
    'md':{
      width: 500px
    }
    'lg-hd':{
      width: 800px
    }
    global:{
      color: #fff
    }
  }
})
