@import 'buttron.styl'

.test
  buttron({
    style: false
    font-size: 1rem
    addClass:{
      active:{
        background: green
      }
    }
  })
  
buttron('.test', {
  style: false
  font-size: 1rem
  addClass:{
    active:{
      background: green
    }
  }
})