.test {
  width: 200px;
}
.test {
  transition-property: background, font-size;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease-out, ease-in;
  transition-delay: 0s, 0.25s;
}
.test {
  width: 200px;
}
.test {
  transition-property: background, font-size;
  transition-duration: 1s, 0.5s;
  transition-timing-function: ease-out, ease-in;
  transition-delay: 0s, 0.25s;
}
