.test {
  width: 300px;
}
.test {
  border-width: 30px;
  transition-property: background, font-size, left, right;
  transition-duration: 1s, 0.5s, 1s, 2.2s;
  transition-timing-function: ease-in, ease-out, ease-in, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 2s, 0.25s, 2s, 0s;
}
.test {
  width: 300px;
}
.test {
  border-width: 30px;
  transition-property: background, font-size, left, right;
  transition-duration: 1s, 0.5s, 1s, 2.2s;
  transition-timing-function: ease-in, ease-out, ease-in, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 2s, 0.25s, 2s, 0s;
}
