.test {
  width: 200px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transition-delay: 0s;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test:hover {
    background: #008000;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transition-delay: 0s;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transition-delay: 0s;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test:hover {
    background: #008000;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transition-delay: 0s;
  }
}
