@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      type: 'md'
      width: 100px
      hover:{
        background: green
      }
    }
  })
  

buttron('.test', {
  width: 200px
  media:{
    type: 'md'
    width: 100px
    hover:{
      background: green
    }
  }
})