@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    hover:{
      background: green
      color: teal
      option:{
        applyTo: "span + .kool"
        shorthand:{
          background: 1s
          color: 1.1s default 1.1s
        }
      }
    }
  })


buttron('.test', {
  style: false
  width: 300px
  hover:{
    background: green
    color: teal
    option:{
      applyTo: "span + .kool"
      shorthand:{
        background: 1s
        color: 1.1s default 1.1s
      }
    }
  }
})