@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    hover:{
      anim:{
        name: 'phat'
        timeline:{
          '50':{
            background: teal
          }
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  width: 300px
  hover:{
    anim:{
      name: 'phat'
      timeline:{
        '50':{
          background: teal
        }
      }
    }
  }
})