@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    hover: {
      background: green
    }
    active:{
      color: green
    }
    focus:{
      border: 3px solid green
    }
    link:{
      font-style: italic
    }
    visited:{
      color: gray
    }
  })


buttron('.test', {
  style: false
  width: 200px
  hover: {
    background: green
  }
  active:{
    color: green
  }
  focus:{
    border: 3px solid green
  }
  link:{
    font-style: italic
  }
  visited:{
    color: gray
  }
})