@import 'buttron.styl'

.test
  buttron({
    style: false
    trans:{
      option:{
        duration: 10s
      }
    }
    hover:{
      background: green
      color: yellow
    }
  })


buttron('.test', {
  style: false
  trans:{
    option:{
      duration: 10s
    }
  }
  hover:{
    background: green
    color: yellow
  }
})