@import 'buttron.styl'

.test
  buttron({
    style: false
    first-child:{
      background: green
    }
    last-child:{
      background: green
    }
    "nth-child(2)":{
      background: green
    }
  })

buttron('.test', {
  style: false
  first-child:{
    background: green
  }
  last-child:{
    background: green
  }
  "nth-child(2)":{
    background: green
  }
})