@import 'buttron.styl'

.test
  buttron({
    style: false
    last-of-type:{
      background: green
    }
    "nth-of-type(2)":{
      background: green
    }
  })

buttron('.test', {
  style: false
  last-of-type:{
    background: green
  }
  "nth-of-type(2)":{
    background: green
  }
})