@import 'buttron.styl'

.test
  buttron({
    style: false
    before:{
      content: 'testBefore'
      background: green
    }
    after:{
      content: 'testAfter'
      background: green
      color: yellow
    }
  })

buttron('.test', {
  style: false
  before:{
    content: 'testBefore'
    background: green
  }
  after:{
    content: 'testAfter'
    background: green
    color: yellow
  }
})