@import 'buttron.styl'

.test
  buttron({
    style: false
    style: false
    customEl:{
      element: "nth-child(2)"
      background: green
    }
    customElementMulti:{
      element: before after
      content: 'test'
    }
  })

buttron('.test', {
  style: false
  customEl:{
    element: "nth-child(2)"
    background: green
  }
  customElementMulti:{
    element: before after
    content: 'test'
  }
})