@import 'buttron.styl'

.test
  buttron({
    style: false
    with: 200px
    component:{
      span:{
        font-size: 1rem
      }
    }
  })
  
buttron('.test', {
  style: false
  with: 200px
  component:{
    p:{
      font-size: 1rem
    }
  }
})