@import 'buttron.styl'

.test
  buttron({
    style: false
    with: 200px
    component:{
      span:{
        element: 'span'
        selector: "+"
        font-size: 1rem
      }
    }
  })
  
buttron('.test', {
  style: false
  with: 200px
  component:{
    comp1:{
      element: 'span'
      selector: "~"
      font-size: 1rem
    }
  }
})