@import 'buttron.styl'

.test
  buttron({
    width: 200px
    customState:{
      background: #eee
      option:{
        state: 'checked'
        transition: true
      }
    }
  })


buttron('.test', {
  width: 200px
  customState:{
    background: #eee
    option:{
      state: 'checked'
      transition: true
    }
  }
})