@import 'buttron.styl'

.test
  buttron({
    width: 200px
    customState:{
      trans:{
        background: #eee
        option:{
          state: 'checked'
          duration: 2s
        }
      }
    }
  })

buttron('.test', {
  width: 200px
  customState:{
    trans:{
      background: #eee
      option:{
        state: 'checked'
        duration: 2s
      }
    }
  }
})