@import 'buttron.styl'

.test
  buttron({
    width: 200px
    customState:{
      trans:{
        one:{
          color: green
          option:{
            state: 'hover' 'focus'
          }
        }
      }
    }
  })


buttron('.test', {
  width: 200px
  customState:{
    trans:{
      one:{
        color: green
        option:{
          state: 'hover' 'focus'
        }
      }
    }
  }
})

