@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      option:{
        applyTo: span
      }
      timeline: 'applyToTest'
    }
  })



buttron('.test', {
  style: false
  anim:{
    option:{
      applyTo: span
    }
    timeline: 'applyToTest'
  }
})