@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 400px
    anim:{
      name: 'test'
      timeline:{
        '50':{
          background: teal
        }
      }
    }
  })



buttron('.test', {
  style: false
  width: 400px
  anim:{
    name: 'test'
    timeline:{
      '50':{
        background: teal
      }
    }
  }
})