@import 'buttron.styl'

.test
  buttron({
    style: false
    error: false
    anim:{
      name: 'tlError'
      timeline:{
        value: error
      }
    }
  })



buttron('.test', {
  style: false
  error: false
  anim:{
    name: 'tlError'
    timeline:{
      value: error
    }
  }
})