@import 'buttron.styl'

.test
  buttron({
    style: false
    error: false
    anim:{
      timeline:{
        '50':{
          background: teal
        }
      }
    }
  })



buttron('.test', {
  style: false
  error: false
  anim:{
    timeline:{
      '50':{
        background: teal
      }
    }
  }
})