@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      timeline: 'stepTest'
      option:{
        ease: steps(5, start)
      }
    }
  })



buttron('.test', {
  style: false
  anim:{
    timeline: 'stepTest'
    option:{
      ease: steps(5, start)
    }
  }
})