@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      name: 'test'
      timeline: {
        '0': {
          font-size: 1rem
        }
        '100%':{
          font-size: 1.2rem
        }
      }
    }
  })



buttron('.test', {
  style: false
  anim:{
    name: 'test'
    timeline: {
      '0': {
        font-size: 1rem
      }
      '100%':{
        font-size: 1.2rem
      }
    }
  }
})