@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      name: 'test'
      timeline: {
        from: {
          font-size: 1rem
        }
        to:{
          font-size: 1.2rem
        }
      }
    }
  })



buttron('.test', {
  style: false
  anim:{
    name: 'test'
    timeline: {
      from: {
        font-size: 1rem
      }
      to:{
        font-size: 1.2rem
      }
    }
  }
})