@import 'buttron.styl'

.test
  buttron({
    style: false
    anim:{
      option:{
        duration: 3s
      }
      timeline: otherTimeline
    }
  })



buttron('.test', {
  style: false
  anim:{
    option:{
      duration: 3s
    }
    timeline: otherTimeline
  }
})