@import 'buttron.styl'

.transApplyTo
  buttron({
    style: false
    background: green
    hover:{
      transition:{
        applyTo: span
        color: #F1C40F
        background: #8E44AD
        border-radius: 5px
        padding:1rem
      }
    }
  })



buttron('.transApplyTo', {
  style: false
  background: green
  hover:{
    transition:{
      applyTo: span
      color: #F1C40F
      background: #8E44AD
      border-radius: 5px
      padding:1rem
    }
  }
})