.transApplyTo {
  background: #008000;
}
.transApplyTo span {
  transition-property: color , background , border-radius , padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.transApplyTo:hover span {
  transition-property: color , background , border-radius , padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #f1c40f;
  background: #8e44ad;
  border-radius: 5px;
  padding: 1rem;
}
.transApplyTo {
  background: #008000;
}
.transApplyTo span {
  transition-property: color , background , border-radius , padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.transApplyTo:hover span {
  transition-property: color , background , border-radius , padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #f1c40f;
  background: #8e44ad;
  border-radius: 5px;
  padding: 1rem;
}
