.aTransition {
  font-size: 1rem;
}
.aTransition {
  transition-property: background , box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #34495e;
  box-shadow: 0px 15px 25px -1px rgba(0,0,0,0.75);
}
.aTransition {
  font-size: 1rem;
}
.aTransition {
  transition-property: background , box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #34495e;
  box-shadow: 0px 15px 25px -1px rgba(0,0,0,0.75);
}
