@import 'buttron.styl'

.aTransition
  buttron({
    style: false
    font-size: 1rem
    transition:{
      background: #34495E
      box-shadow: 0px 15px 25px -1px rgba(0,0,0,0.75)
    }
  })


buttron('.aTransition', {
  style: false
  font-size: 1rem
  transition:{
    background: #34495E
    box-shadow: 0px 15px 25px -1px rgba(0,0,0,0.75)
  }
})