.globalShorthand {
  font-size: 1rem;
}
.globalShorthand span {
  transition: all 3s ease-in;
}
.globalShorthand:hover span {
  transition: all 3s ease-in;
  color: #f1c40f;
  background: #8e44ad;
  padding: 1rem;
}
.globalShorthand {
  transition: all 3s ease-in;
}
.globalShorthand:hover {
  transition: all 3s ease-in;
  background: transparent;
  border: solid 5px #8e44ad;
}
.globalShorthand {
  font-size: 1rem;
}
.globalShorthand span {
  transition: all 3s ease-in;
}
.globalShorthand:hover span {
  transition: all 3s ease-in;
  color: #f1c40f;
  background: #8e44ad;
  padding: 1rem;
}
.globalShorthand {
  transition: all 3s ease-in;
}
.globalShorthand:hover {
  transition: all 3s ease-in;
  background: transparent;
  border: solid 5px #8e44ad;
}
