@import 'buttron.styl'

.globalShorthand
  buttron({
    style: false
    font-size: 1rem
    hover:{
      transition:{
        main:{
          //Since we want to apply this to the parent no need for applyTo
          background: transparent
          border: solid 5px #8E44AD
        }
        span:{
          applyTo: span
          color: #F1C40F
          background: #8E44AD
          padding:1rem
          options: {
            ease: ease-in-out
          }
        }
      }
      globalOption:{
        shorthand: {
          all: 3s ease-in
        }
      }
    }
  });


buttron('.globalShorthand', {
  style: false
  font-size: 1rem
  hover:{
    transition:{
      main:{
        //Since we want to apply this to the parent no need for applyTo
        background: transparent
        border: solid 5px #8E44AD
      }
      span:{
        applyTo: span
        color: #F1C40F
        background: #8E44AD
        padding:1rem
        options: {
          ease: ease-in-out
        }
      }
    }
    globalOption:{
      shorthand: {
        all: 3s ease-in
      }
    }
  }
});