.globalOpts {
  font-size: 1rem;
}
.globalOpts {
  transition-property: background , border;
  transition-duration: 5s;
  transition-timing-function: ease-out;
  transition-delay: 3s;
}
.globalOpts:hover {
  transition-property: background , border;
  transition-duration: 5s;
  transition-timing-function: ease-out;
  transition-delay: 3s;
  background: transparent;
  border: solid 5px #8e44ad;
}
.globalOpts {
  font-size: 1rem;
}
.globalOpts {
  transition-property: background , border;
  transition-duration: 5s;
  transition-timing-function: ease-out;
  transition-delay: 3s;
}
.globalOpts:hover {
  transition-property: background , border;
  transition-duration: 5s;
  transition-timing-function: ease-out;
  transition-delay: 3s;
  background: transparent;
  border: solid 5px #8e44ad;
}
