@import 'buttron.styl'

.shortInLongOut
  buttron({
    style: false
    font-size: 1rem
    transition:{
      option:{
        duration: 3s
        property: background
      }
    }
    hover: {
      background: #E74C3C
      option: {
        duration: 0.3s
      }
    }
  });

buttron('.shortInLongOut', {
  style: false
  font-size: 1rem
  transition:{
    option:{
      duration: 3s
      property: background
    }
  }
  hover: {
    background: #E74C3C
    option: {
      duration: 0.3s
    }
  }
});