@import 'buttron.styl'

.globalOpts
  buttron({
    style: false
    font-size: 1rem
    default: {
      duration: 2s
      ease: easy-in
      delay: 5s
    }
    hover:{
      transition:{
        main:{
          background: transparent
          border: solid 5px #8E44AD
          option:{
            duration: 5s
          }
        }
        globalOption:{
          duration: 10s
          ease: ease-out
          delay: 3s
        }
      }
    }
  });

buttron('.globalOpts', {
    style: false
    font-size: 1rem
    default: {
      duration: 2s
      ease: easy-in
      delay: 5s
    }
    hover:{
      transition:{
        main:{
          background: transparent
          border: solid 5px #8E44AD
          option:{
            duration: 5s
          }
        }
        globalOption:{
          duration: 10s
          ease: ease-out
          delay: 3s
        }
      }
    }
});