@import 'buttron.styl'

.localOptions
  buttron({
    style: false
    font-size: 1rem
    transition: {
      applyTo: span
      background: green
      border: 5px solid blue
      border-radius: 10px
      option: {
        shorthand: {
          background: 3s ease-in 2s
          border: 2s
          border-radius: 3.2s ease-out
        }
        //Should do nothing
        globalOption: {
          duration: 2s
        }
      }
    }
  })



buttron('.localOptions', {
  style: false
  font-size: 1rem
  transition: {
    applyTo: span
    background: green
    border: 5px solid blue
    border-radius: 10px
    option: {
      shorthand: {
        background: 3s ease-in 2s
        border: 2s
        border-radius: 3.2s ease-out
      }
      //Should do nothing
      globalOption: {
        duration: 2s
      }
    }
  }
})