.localOptions {
  font-size: 1rem;
}
.localOptions span {
  transition: background 3s ease-in 2s , border 2s , border-radius 3.2s ease-out;
  background: #008000;
  border: 5px solid #00f;
  border-radius: 10px;
}
.localOptions {
  font-size: 1rem;
}
.localOptions span {
  transition: background 3s ease-in 2s , border 2s , border-radius 3.2s ease-out;
  background: #008000;
  border: 5px solid #00f;
  border-radius: 10px;
}
