@import 'buttron.styl'

.localOptions
  buttron({
    style: false
    font-size: 1rem
    transition: {
      background: green
      border: 5px solid blue
      border-radius: 10px
      font-size: 9rem
      option: {
        duration: 2s
        ease: ease-in
        delay: 2s
      }
    }
  })


buttron('.localOptions', {
  style: false
  font-size: 1rem
  transition: {
    background: green
    border: 5px solid blue
    border-radius: 10px
    font-size: 9rem
    option: {
      duration: 2s
      ease: ease-in
      delay: 2s
    }
  }
})