.localOptions {
  font-size: 1rem;
}
.localOptions {
  transition-property: background , border , border-radius , font-size;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
  background: #008000;
  border: 5px solid #00f;
  border-radius: 10px;
  font-size: 9rem;
}
.localOptions {
  font-size: 1rem;
}
.localOptions {
  transition-property: background , border , border-radius , font-size;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
  background: #008000;
  border: 5px solid #00f;
  border-radius: 10px;
  font-size: 9rem;
}
