.multiple {
  font-size: 1rem;
}
.multiple span {
  transition-property: color , background , padding;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 5s;
}
.multiple:hover span {
  transition-property: color , background , padding;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 5s;
  color: #f1c40f;
  background: #8e44ad;
  padding: 1rem;
}
.multiple {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 5s;
}
.multiple:hover {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 5s;
  background: transparent;
  border: solid 5px #8e44ad;
}
.multiple {
  font-size: 1rem;
}
.multiple span {
  transition-property: color , background , padding;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 5s;
}
.multiple:hover span {
  transition-property: color , background , padding;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 5s;
  color: #f1c40f;
  background: #8e44ad;
  padding: 1rem;
}
.multiple {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 5s;
}
.multiple:hover {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 5s;
  background: transparent;
  border: solid 5px #8e44ad;
}
