.test {
  width: 400px;
}
.test {
  transition-property: background , color;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
}
.test:hover {
  transition-property: background , color;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
  background: #008000;
  color: #008000;
}
.test {
  width: 400px;
}
.test {
  transition-property: background , color;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
}
.test:hover {
  transition-property: background , color;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
  background: #008000;
  color: #008000;
}
