.multiple {
  font-size: 1rem;
}
.multiple span {
  transition-property: color , background , padding;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.multiple:hover span {
  transition-property: color , background , padding;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  color: #f1c40f;
  background: #8e44ad;
  padding: 1rem;
}
.multiple {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.multiple:hover {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: transparent;
  border: solid 5px #8e44ad;
}
.multiple {
  font-size: 1rem;
}
.multiple span {
  transition-property: color , background , padding;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.multiple:hover span {
  transition-property: color , background , padding;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  color: #f1c40f;
  background: #8e44ad;
  padding: 1rem;
}
.multiple {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.multiple:hover {
  transition-property: background , border;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: transparent;
  border: solid 5px #8e44ad;
}
