.test {
  width: 400px;
}
.test {
  transition: background 1s ease-in , color 1s ease-in;
}
.test:hover {
  transition: background 1s ease-in , color 1s ease-in;
  background: #008000;
  color: #008000;
}
.test {
  width: 400px;
}
.test {
  transition: background 1s ease-in , color 1s ease-in;
}
.test:hover {
  transition: background 1s ease-in , color 1s ease-in;
  background: #008000;
  color: #008000;
}
