@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 400px
    hover: {
      transition:{
        main: {
          background: green
          option: {
            duration: 2s
          }
        }
        second:{
          color: green
          option: {
            delay: 1s
          }
        }
      }
    }
  })



buttron('.test', {
  style: false
  width: 400px
  hover: {
    transition:{
      main: {
        background: green
        option: {
          duration: 2s
        }
      }
      second:{
        color: green
        option: {
          delay: 1s
        }
      }
    }
  }
})
