@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 400px
    hover: {
      transition:{
        main: {
          background: green
          option: {
            shorthand: {
              background: 1s ease-in
            }
          }
        }
        second:{
          color: green
          option: {
            shorthand: {
              color: 1s ease-in
            }
          }
        }
      }
    }
  })



buttron('.test', {
  style: false
  width: 400px
  hover: {
    transition:{
      main: {
        background: green
        option: {
          shorthand: {
            background: 1s ease-in
          }
        }
      }
      second:{
        color: green
        option: {
          shorthand: {
            color: 1s ease-in
          }
        }
      }
    }
  }
})
