@import 'buttron.styl'

.multiple
  buttron({
    style: false
    font-size: 1rem
    hover:{
      transition:{
        main:{
          background: transparent
          border: solid 5px #8E44AD
          option:{
            duration: 1s
          }
        }
        span:{
          applyTo: span
          color: #F1C40F
          background: #8E44AD
          padding:1rem
          option: {
            ease: ease-in-out
          }
        }
      }
    }
  });


buttron('.multiple', {
  style: false
  font-size: 1rem
  hover:{
    transition:{
      main:{
        background: transparent
        border: solid 5px #8E44AD
        option:{
          duration: 1s
        }
      }
      span:{
        applyTo: span
        color: #F1C40F
        background: #8E44AD
        padding:1rem
        option: {
          ease: ease-in-out
        }
      }
    }
  }
});