.transDemo {
  font-size: 1rem;
}
.transDemo {
  transition-property: background , font-size , color;
  transition-duration: 2.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.transDemo {
  font-size: 1rem;
}
.transDemo {
  transition-property: background , font-size , color;
  transition-duration: 2.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
