@import 'buttron.styl'

.transDemo
  buttron({
    style: false
    font-size: 1rem
    defualt:{
      duration: 1s
    }
    transition:{
      option:{
        property: background font-size color
        duration: 2.5s
      }
    }
  });



buttron('.transDemo', {
  style: false
  font-size: 1rem
  defualt:{
    duration: 1s
  }
  transition:{
    option:{
      property: background font-size color
      duration: 2.5s
    }
  }
});