@import 'buttron.styl'

.test
  buttron({
    style: false
    customElm:{
      element: before after
      content: ''
      font-size: 1.1rem
      color: green
      background: gray
      hover:{
        font-size: 1.5rem
        background: teal
      }
    }
  })

buttron('.test', {
  style: false
  customElm:{
    element: before after
    content: ''
    font-size: 1.1rem
    color: green
    background: gray
    hover:{
      font-size: 1.5rem
      background: teal
    }
  }
})