@import 'buttron.styl'

.test
  buttron({
    style: false
    before: {
      pseudo: false
      content: ''
      hover:{
        background: green
      }
    }
  })

buttron('.test', {
  style: false
  before: {
    pseudo: false
    content: ''
    hover:{
      background: green
    }
  }
})