@import 'buttron.styl'

.test
  buttron({
    style: false
    before:{
      content: 'testBefore'
      font-size: 1.2em
      hover:{
        font-size: 1.5em
        color: red
        background: teal
        shorthand:{
          color: 1s
        }
      }
    }
  })

buttron('.test', {
  style: false
  before:{
    content: 'testBefore'
    font-size: 1.2em
    hover:{
      font-size: 1.5em
      color: red
      background: teal
      shorthand:{
        color: 1s
      }
    }
  }
})