@import 'buttron.styl'

.animTest
  buttron({
    style: false
    width: 200px
    anim:{
      name: applyTest
      applyTo: span
      timeline:{
        '50':{
          background: green
        }
      }
    }
  })
  
buttron('.animTest', {
  style: false
  width: 200px
  anim:{
    name: applyTest
    applyTo: span
    timeline:{
      '50':{
        background: green
      }
    }
  }
})