.test {
  width: 200px;
}
@-moz-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.test {
  animation-name: basicTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test {
  width: 200px;
}
@-moz-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.test {
  animation-name: basicTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test {
  width: 200px;
}
@-moz-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.test {
  animation-name: basicTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test {
  width: 200px;
}
@-moz-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes basicTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.test {
  animation-name: basicTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
