.animTest {
  width: 200px;
}
@-moz-keyframes applyTest {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes applyTest {
  50% {
    background: #008000;
  }
}
@-o-keyframes applyTest {
  50% {
    background: #008000;
  }
}
@keyframes applyTest {
  50% {
    background: #008000;
  }
}
.animTest span {
  animation-name: applyTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes applyTest {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes applyTest {
  50% {
    background: #008000;
  }
}
@-o-keyframes applyTest {
  50% {
    background: #008000;
  }
}
@keyframes applyTest {
  50% {
    background: #008000;
  }
}
.animTest span {
  animation-name: applyTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}