@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    anim:{
      name: 'basicTest',
      timeline:{
        "25%":{
          background: teal
        }
        "50%":{
          background: purple
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  width: 200px
  anim:{
    name: 'basicTest',
    timeline:{
      "25%":{
        background: teal
      }
      "50%":{
        background: purple
      }
    }
  }
})

.test
  buttron({
    style: false
    width: 200px
    anim:{
      name: basicTest
      timeline:{
        "25":{
          background: teal
        }
        "50":{
          background: purple
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  width: 200px
  anim:{
    name: basicTest
    timeline:{
      "25":{
        background: teal
      }
      "50":{
        background: purple
      }
    }
  }
})