.animTest {
  width: 200px;
}
@-moz-keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.animTest {
  animation-name: changeOptions;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes changeOptions {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.animTest {
  animation-name: changeOptions;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
