@import 'buttron.styl'

.animTest
  buttron({
    width: 200px
    style: false
    anim:{
      name: 'changeOptions'
      option:{
        duration: 10s
        delay: 1s
        ease: ease-in
        count: infinite
        direction: reverse
        mode: forwards
        animation-play-state: running
      }
      timeline:{
        "25":{
          background: teal
        }
        "50%":{
          background: purple
        }
      }
    }
  })
  
buttron('.animTest', {
  width: 200px
  style: false
  anim:{
    name: 'changeOptions'
    option:{
      duration: 10s
      delay: 1s
      ease: ease-in
      count: infinite
      direction: reverse
      mode: forwards
      animation-play-state: running
    }
    timeline:{
      "25":{
        background: teal
      }
      "50%":{
        background: purple
      }
    }
  }
})