@import 'buttron.styl'

.animTest
  buttron({
    style: false
    width: 200px
    anim:{
      tmOne:{
        option: {
          duration: 2s
        }
        timeline:{
          '50':{
            font-size: 1.2rem
          }
        }
      }
      tmTwo:{
        name: twoTest
        applyTo: span
        option: {
          delay: 2s
        }
        timeline:{
          '50':{
            background: green
          }
        }
      }
    }
  })
  
buttron('.animTest', {
  style: false
  width: 200px
  anim:{
    tmOne:{
      option: {
        duration: 2s
      }
      timeline:{
        '50':{
          font-size: 1.2rem
        }
      }
    }
    tmTwo:{
      name: twoTest
      applyTo: span
      option: {
        delay: 2s
      }
      timeline:{
        '50':{
          background: green
        }
      }
    }
  }
})