@import 'buttron.styl'

.animTest
  buttron({
    style: false
    width: 200px
    anim:{
      multiple: true
      option:{
        duration: 2s
        delay: 3s
      }
      timeline:{
        tmOne:{
          "25":{
            background: teal
          }
          "50%":{
            background: purple
          }
        }
        tmTwo:{
          name: tmTwo
          "25":{
            color: green
          }
          "50%":{
            color: yellow
          }
        }
      }
    }
  })
  
buttron('.animTest', {
  style: false
  width: 200px
  anim:{
    multiple: true
    option:{
      duration: 2s
      delay: 3s
    }
    timeline:{
      tmOne:{
        "25":{
          background: teal
        }
        "50%":{
          background: purple
        }
      }
      tmTwo:{
        name: tmTwo
        "25":{
          color: green
        }
        "50%":{
          color: yellow
        }
      }
    }
  }
})