.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@-webkit-keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@-o-keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@-moz-keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
@-webkit-keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
@-o-keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
@keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
.animTest {
  animation-name: tmOne , tmTwo;
  animation-duration: 0.5s , 3s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite , 1;
  animation-delay: 0s , 1s;
  animation-direction: normal , normal;
  animation-fill-mode: none , none;
  animation-play-state: running , running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@-webkit-keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@-o-keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@keyframes tmOne {
  25% {
    background: #008000;
  }
  75% {
    background: #008080;
  }
}
@-moz-keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
@-webkit-keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
@-o-keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
@keyframes tmTwo {
  25% {
    color: #ff0;
  }
  75% {
    color: #ffc0cb;
  }
}
.animTest {
  animation-name: tmOne , tmTwo;
  animation-duration: 0.5s , 3s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite , 1;
  animation-delay: 0s , 1s;
  animation-direction: normal , normal;
  animation-fill-mode: none , none;
  animation-play-state: running , running;
}
