@import 'buttron.styl'

.animTest
  buttron({
    style: false
    width: 200px
    anim:{
      tmOne:{
        name: tmOne
        option:{
          count: infinite
        }
        timeline:{
          "25":{
            background: green
          }
          "75":{
            background: teal
          }
        }
      }
      tmTwo:{
        option:{
          duration: 3s
          delay: 1s
        }
        timeline: {
          '25':{
            color: yellow
          }
          '75':{
            color: pink
          }
        }
      }
    }
  })
  
buttron('.animTest', {
    style: false
    width: 200px
    anim:{
      tmOne:{
        name: tmOne
        option:{
          count: infinite
        }
        timeline:{
          "25":{
            background: green
          }
          "75":{
            background: teal
          }
        }
      }
      tmTwo:{
        option:{
          duration: 3s
          delay: 1s
        }
        timeline: {
          '25':{
            color: yellow
          }
          '75':{
            color: pink
          }
        }
      }
    }
})