.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-moz-keyframes twoTest {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes twoTest {
  50% {
    background: #008000;
  }
}
@-o-keyframes twoTest {
  50% {
    background: #008000;
  }
}
@keyframes twoTest {
  50% {
    background: #008000;
  }
}
.animTest span {
  animation-name: twoTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  animation-name: tmOne;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-moz-keyframes twoTest {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes twoTest {
  50% {
    background: #008000;
  }
}
@-o-keyframes twoTest {
  50% {
    background: #008000;
  }
}
@keyframes twoTest {
  50% {
    background: #008000;
  }
}
.animTest span {
  animation-name: twoTest;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  animation-name: tmOne;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
