.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-moz-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-webkit-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-o-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
.animTest {
  animation: tmOne 4s infinite , tmTwo 2s infinite;
}
.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-moz-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-webkit-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-o-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
.animTest {
  animation: tmOne 4s infinite , tmTwo 2s infinite;
}
