.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-moz-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-webkit-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-o-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
.animTest {
  animation-name: tmOne , tmTwo;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes tmOne {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-moz-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-webkit-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@-o-keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
@keyframes tmTwo {
  25% {
    color: #008000;
  }
  50% {
    color: #ff0;
  }
}
.animTest {
  animation-name: tmOne , tmTwo;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
