.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-moz-keyframes twoTest {
  50% {
    width: 200px;
  }
}
@-webkit-keyframes twoTest {
  50% {
    width: 200px;
  }
}
@-o-keyframes twoTest {
  50% {
    width: 200px;
  }
}
@keyframes twoTest {
  50% {
    width: 200px;
  }
}
@-moz-keyframes tmFour {
  50% {
    height: 20px;
  }
}
@-webkit-keyframes tmFour {
  50% {
    height: 20px;
  }
}
@-o-keyframes tmFour {
  50% {
    height: 20px;
  }
}
@keyframes tmFour {
  50% {
    height: 20px;
  }
}
.animTest span {
  animation-name: twoTest , tmOneA;
  animation-duration: 1s , 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite , infinite;
  animation-delay: 0s , 2s;
  animation-direction: normal , normal;
  animation-fill-mode: none , none;
  animation-play-state: running , running;
}
.animTest .applyTo {
  animation-name: tmFour;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  animation-name: tmOne , tmOneA , otherTimeline;
  animation-duration: 2s , 0.5s , 10s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1 , 1 , infinite;
  animation-delay: 0s , 0s , 0s;
  animation-direction: normal , normal , normal;
  animation-fill-mode: none , none , none;
  animation-play-state: running , running , running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes tmOne {
  50% {
    font-size: 1.2rem;
  }
}
@-moz-keyframes twoTest {
  50% {
    width: 200px;
  }
}
@-webkit-keyframes twoTest {
  50% {
    width: 200px;
  }
}
@-o-keyframes twoTest {
  50% {
    width: 200px;
  }
}
@keyframes twoTest {
  50% {
    width: 200px;
  }
}
@-moz-keyframes tmFour {
  50% {
    height: 20px;
  }
}
@-webkit-keyframes tmFour {
  50% {
    height: 20px;
  }
}
@-o-keyframes tmFour {
  50% {
    height: 20px;
  }
}
@keyframes tmFour {
  50% {
    height: 20px;
  }
}
.animTest span {
  animation-name: twoTest , tmOneA;
  animation-duration: 1s , 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite , infinite;
  animation-delay: 0s , 2s;
  animation-direction: normal , normal;
  animation-fill-mode: none , none;
  animation-play-state: running , running;
}
.animTest .applyTo {
  animation-name: tmFour;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  animation-name: tmOne , tmOneA , otherTimeline;
  animation-duration: 2s , 0.5s , 10s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1 , 1 , infinite;
  animation-delay: 0s , 0s , 0s;
  animation-direction: normal , normal , normal;
  animation-fill-mode: none , none , none;
  animation-play-state: running , running , running;
}
