@import 'buttron.styl'

.animTest
  buttron({
    style: false
    width: 200px
    anim:{
      tmOne:{
        option: {
          duration: 2s
        }
        timeline:{
          '50':{
            font-size: 1.2rem
          }
        }
      }
      tmOneA:{
        timeline:{
          '50':{
            color: green
          }
        }
      }
      tmOneB:{
        name: otherTimeline
        override: true
        option: {
          duration: 10s
          count: infinite
        }
      }
      tmTwo:{
        name: twoTest
        applyTo: span
        option: {
          duration: 1s
          count: infinite
        }
        timeline:{
          '50':{
            width: 200px
          }
        }
      }
      tmThree:{
        applyTo: span
        name: tmOneA
        override: true
        option: {
          delay: 2s
          count: infinite
        }
      }
      tmFour:{
        applyTo: '.applyTo'
        option: {
          delay: 2s
          count: infinite
        }
        timeline:{
          '50':{
            height: 20px
          }
        }
      }
    }
  })

  
buttron('.animTest', {
  style: false
  width: 200px
  anim:{
    tmOne:{
      option: {
        duration: 2s
      }
      timeline:{
        '50':{
          font-size: 1.2rem
        }
      }
    }
    tmOneA:{
      timeline:{
        '50':{
          color: green
        }
      }
    }
    tmOneB:{
      name: otherTimeline
      override: true
      option: {
        duration: 10s
        count: infinite
      }
    }
    tmTwo:{
      name: twoTest
      applyTo: span
      option: {
        duration: 1s
        count: infinite
      }
      timeline:{
        '50':{
          width: 200px
        }
      }
    }
    tmThree:{
      applyTo: span
      name: tmOneA
      override: true
      option: {
        delay: 2s
        count: infinite
      }
    }
    tmFour:{
      applyTo: '.applyTo'
      option: {
        delay: 2s
        count: infinite
      }
      timeline:{
        '50':{
          height: 20px
        }
      }
    }
  }
})