@import 'buttron.styl'

.animTest
  buttron({
    width: 200px
    style: false
    anim:{
      name: 'shortTest'
      option:{
        shorthand: {
          shortTest: 5s infinite
        }
      }
      timeline:{
        "25":{
          background: teal
        }
        "50%":{
          background: purple
        }
      }
    }
  })
  
buttron('.animTest', {
  width: 200px
  style: false
  anim:{
    name: 'shortTest'
    option:{
      shorthand: {
        shortTest: 5s infinite
      }
    }
    timeline:{
      "25":{
        background: teal
      }
      "50%":{
        background: purple
      }
    }
  }
})