.animTest {
  width: 200px;
}
@-moz-keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.animTest {
  animation: shortTest 5s infinite;
}
.animTest {
  width: 200px;
}
@-moz-keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-webkit-keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@-o-keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
@keyframes shortTest {
  25% {
    background: #008080;
  }
  50% {
    background: #800080;
  }
}
.animTest {
  animation: shortTest 5s infinite;
}
