@import 'buttron.styl'

.animTest
  buttron({
    style: false
    background: green
    anim:{
      name: otherTimeline
      override: true
      option: {
        duration: 2s
      }
    }
  })

  
buttron('.animTest', {
  style: false
  background: green
  anim:{
    name: otherTimeline
    override: true
    option: {
      duration: 2s
    }
  }
})