@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    trans:{
      shorthand:{
        background: 1s
      }
    }
  })

  

buttron('.test', {
  style: false
  width: 200px
  transition:{
    shorthand:{
      background: 1s
    }
  }
})