@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      one:{
        background: green
      }
      two: {
        font-size: 1.2rem
        color: red
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 300px
  transition:{
    one:{
      background: green
    }
    two: {
      font-size: 1.2rem
      color: red
    }
  }
})