@import 'buttron.styl'

.test
  buttron({
    style: false
    error: false
    trans:{
      one:{
        background: green
      }
      two: {
        font-size: 1.2rem
        color: red
      }
      three:{
        background: yellow
      }
    }
  })
  

buttron('.test', {
  style: false
  error: false
  transition:{
    one:{
      background: green
    }
    two: {
      font-size: 1.2rem
      color: red
    }
    three:{
      background: yellow
    }
  }
})