@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      one:{
        background: green
      }
      two: {
        font-size: 1.2rem
        color: red
      }
      three:{
        width: 200px
        option:{
          duration: 1.3s
        }
      }
      globalOption:{
        duration: 1s
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 300px
  transition:{
    one:{
      background: green
    }
    two: {
      font-size: 1.2rem
      color: red
    }
    three:{
      width: 200px
      option:{
        duration: 1.3s
      }
    }
    globalOption:{
      duration: 1s
    }
  }
})