.test:after {
  content: 'test';
}
@-moz-keyframes testAnim {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes testAnim {
  50% {
    background: #008000;
  }
}
@-o-keyframes testAnim {
  50% {
    background: #008000;
  }
}
@keyframes testAnim {
  50% {
    background: #008000;
  }
}
.test:hover:after {
  animation-name: testAnim;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:first-child {
  font-size: 10rem;
  animation-name: kool;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:first-child:focus {
  animation-name: focusIt;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:after {
  content: 'test';
}
@-moz-keyframes testAnim {
  50% {
    background: #008000;
  }
}
@-webkit-keyframes testAnim {
  50% {
    background: #008000;
  }
}
@-o-keyframes testAnim {
  50% {
    background: #008000;
  }
}
@keyframes testAnim {
  50% {
    background: #008000;
  }
}
.test:hover:after {
  animation-name: testAnim;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:first-child {
  font-size: 10rem;
  animation-name: kool;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:first-child:focus {
  animation-name: focusIt;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
