@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        mixin:{
          above: '300px'
        }
      }
    }
  })
  
.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        above: '300px'
      }
    }
  })
  

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      mixin:{
        above: '300px'
      }
    }
  }
})
  

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      above: '300px'
    }
  }
})