@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        mixin:{
          between: '300px' '800px'
        }
      }
    }
  })

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        between: '300px' '800px'
      }
    }
  })


buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      mixin:{
        between: '300px' '800px'
      }
    }
  }
})

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      between: '300px' '800px'
    }
  }
})
