@import 'buttron.styl'

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      option:{
        mixin:{
          density: '2'
        }
      }
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    option:{
      mixin:{
        density: '2'
      }
    }
  }
})