@import 'buttron.styl'

.test
  buttron({
    background: #eee
    media:{
      width: 300px
      option:{
        mixin:{
          landscape: true
        }
      }
    }
  })

.test
  buttron({
    background: #eee
    media:{
      width: 300px
      option:{
        landscape: true
      }
    }
  })

  

buttron('.test', {
  background: #eee
  media:{
    width: 300px
    option:{
      mixin:{
        landscape: true
      }
    }
  }
})
  

buttron('.test', {
  background: #eee
  media:{
    width: 300px
    option:{
      landscape: true
    }
  }
})