@import 'buttron.styl'

//min
.test
  buttron({
    width: 200px
    media:{
      width: 100px
      type: 'xs'
    }
  })

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      type: 1
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    type: 'xs'
  }
})

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    type: 1
  }
})


//mid
.test
  buttron({
    width: 200px
    media:{
      width: 100px
      type: 'md'
    }
  })

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      type: 3
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    type: 'md'
  }
})

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    type: 3
  }
})


//max
.test
  buttron({
    width: 200px
    media:{
      width: 100px
      type: 'hd'
    }
  })

.test
  buttron({
    width: 200px
    media:{
      width: 100px
      type: 5
    }
  })

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    type: 'hd'
  }
})

buttron('.test', {
  width: 200px
  media:{
    width: 100px
    type: 5
  }
})