@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    trans:{
      background: green
      option:{
        ease: ease-out
      }
      shorthand:{
        background: 1s
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 200px
  transition:{
    background: green
    option:{
      ease: ease-out
    }
    shorthand:{
      background: 1s
    }
  }
})