@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 300px
    trans:{
      one:{
        background: green
      }
      two: {
        height: 500px
        color: red
      }
      three: {
        letter-spacing: green
        font-size: 2rem
        option:{
          ease: ease-in
        }
        shorthand:{
          letter-spacing: 1s default 0.2s
          font-size: 0.5s ease-out 0.25s
        }
      }
      globalOption:{
        duration: 1s
      }
    }
  })


buttron('.test', {
  style: false
  width: 300px
  transition:{
    one:{
      background: green
    }
    two: {
      height: 500px
      color: red
    }
    three: {
      letter-spacing: green
      font-size: 2rem
      option:{
        ease: ease-in
      }
      shorthand:{
        letter-spacing: 1s default 0.2s
        font-size: 0.5s ease-out 0.25s
      }
    }
    globalOption:{
      duration: 1s
    }
  }
})