@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    component:{
      span:{
        font-size: 1rem
        transition:{
          background: green
          option:{
            shorthand: {
              background: 1s ease-in 
            }
          }
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  width: 200px
  component:{
    p:{
      font-size: 1rem
      transition: {
        font-size: 4rem
        color: red
        option:{
          duration: 2s
        }
      }
      active:{
        font-size: 2rem
        option:{
          duration: 5s
        }
      }
    }
  }
})