@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 400px
    hover:{
      background: purple
    }
    active: {
      color: red
    }
    component:{
      span:{
        font-size: 1rem
        hover: {
          root: true
          background: green
          color: green
        }
        active:{
          font-size: 2rem
        }
        customState:{
          state: 'focus'
          transition: true
          width: 400px
        }
        visited: {
          border-bottom: 1px solid green
        }
        //second
        component:{
          p:{
            font-size: 2rem
            position: absolute
            top: -5px
            hover: {
              root: true
              color: green
            }
            active:{
              background: green
            }
          }
        }
      }
    }
  })



buttron('.test', {
  style: false
  width: 400px
  hover:{
    background: purple
  }
  active: {
    color: red
  }
  component:{
    span:{
      font-size: 1rem
      hover: {
        root: true
        background: green
        color: green
      }
      active:{
        font-size: 2rem
      }
      customState:{
        state: 'focus'
        transition: true
        width: 400px
      }
      visited: {
        border-bottom: 1px solid green
      }
      //second
      component:{
        p:{
          font-size: 2rem
          position: absolute
          top: -5px
          hover: {
            root: true
            color: green
          }
          active:{
            background: green
          }
        }
      }
    }
  }
})