.test {
  width: 200px;
}
.test > span {
  font-size: 1rem;
}
.test > span {
  transition: background 1s ease-in 1s;
}
.test > span:hover {
  transition: background 1s ease-in 1s;
  background: #008000;
}
.test {
  width: 200px;
}
.test > p {
  font-size: 1rem;
}
.test > p {
  transition-property: font-size;
  transition-duration: 5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test > p:active {
  transition-property: font-size;
  transition-duration: 5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
