@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    component:{
      span:{
        font-size: 1rem
        hover:{
          background: green
          option:{
            shorthand: {
              background: 1s ease-in 1s
            }
          }
        }
      }
    }
  })
  
buttron('.test', {
  style: false
  width: 200px
  component:{
    p:{
      font-size: 1rem
      active:{
        font-size: 2rem
        option:{
          duration: 5s
        }
      }
    }
  }
})