.test {
  width: 200px;
}
.test > span {
  transition-property: font-size , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 1rem;
}
.test:hover > span {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.test > span:active {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #008000;
}
.test {
  width: 200px;
}
.test > span {
  transition-property: font-size , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 1rem;
}
.test:hover > span {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.test > span:active {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #008000;
}
