@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 400px
    active:{
      background: purple
      option: {
        property: background color
      }
    }
    component:{
      span:{
        font-size: 1rem
        hover: {
          font-size: 2rem
          option:{
            property: all
          }
        }
        active: {
          color: green
        }
        //second
        component:{
          p:{
            font-size: 2rem
            position: absolute
            top: -5px
            hover:{
              font-size: 10rem
            }
            active: {
              root: true
              color: green
            }
            component:{
              inception:{
                element: '.inception'
                selector: '~'
                z-index: 99999
                hover:{
                  transition:{
                    main:{
                      background: red
                      option:{
                        shorthand:{
                          background: 1s ease-in
                        }
                      }
                    }
                    cobb:{
                      root: true
                      z-index: 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  })

buttron('.test', {
  style: false
  width: 400px
  active:{
    background: purple
    option: {
      property: background color
    }
  }
  component:{
    span:{
      font-size: 1rem
      hover: {
        font-size: 2rem
        option:{
          property: all
        }
      }
      active: {
        color: green
      }
      //second
      component:{
        p:{
          font-size: 2rem
          position: absolute
          top: -5px
          hover:{
            font-size: 10rem
          }
          active: {
            root: true
            color: green
          }
          component:{
            inception:{
              element: '.inception'
              selector: '~'
              z-index: 99999
              hover:{
                transition:{
                  main:{
                    background: red
                    option:{
                      shorthand:{
                        background: 1s ease-in
                      }
                    }
                  }
                  cobb:{
                    root: true
                    z-index: 0
                  }
                }
              }
            }
          }
        }
      }
    }
  }
})