.test {
  width: 400px;
}
.test {
  transition-property: background , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test:active {
  transition-property: background , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #800080;
}
.test > span {
  font-size: 1rem;
}
.test > span {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test > span:hover {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.test > span:active {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #008000;
}
.test > span > p {
  transition-property: font-size , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
  position: absolute;
  top: -5px;
}
.test > span > p:hover {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.test:active > span > p {
  color: #008000;
}
.test > span > p ~ .inception {
  z-index: 99999;
}
.test:hover > span > p ~ .inception {
  z-index: 0;
}
.test > span > p ~ .inception {
  transition: background 1s ease-in;
}
.test > span > p ~ .inception:hover {
  transition: background 1s ease-in;
  background: #f00;
}
.test {
  width: 400px;
}
.test {
  transition-property: background , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test:active {
  transition-property: background , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #800080;
}
.test > span {
  font-size: 1rem;
}
.test > span {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test > span:hover {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
}
.test > span:active {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  color: #008000;
}
.test > span > p {
  transition-property: font-size , color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 2rem;
  position: absolute;
  top: -5px;
}
.test > span > p:hover {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  font-size: 10rem;
}
.test:active > span > p {
  color: #008000;
}
.test > span > p ~ .inception {
  z-index: 99999;
}
.test:hover > span > p ~ .inception {
  z-index: 0;
}
.test > span > p ~ .inception {
  transition: background 1s ease-in;
}
.test > span > p ~ .inception:hover {
  transition: background 1s ease-in;
  background: #f00;
}
