@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    hover:{
      width: 400px
      option:{
        property: width font-size
      }
    }
    component:{
      span:{
        font-size: 1rem
        hover: {
          root: true
          font-size: 2rem
        }
        active: {
          color: green
        }
      }
    }
  })
  

buttron('.test', {
  style: false
  width: 200px
  hover:{
    width: 400px
    option:{
      property: width font-size
    }
  }
  component:{
    span:{
      font-size: 1rem
      hover: {
        root: true
        font-size: 2rem
      }
      active: {
        color: green
      }
    }
  }
})