@import 'buttron.styl'

overwriteClass = ButtronClass('overwriteClass', {
  style: false
  font-size: 1rem
})

.test
  overwriteClass({
    font-size: 2rem
  })

overwriteClass('.test',{
  font-size: 2rem
})