.buttronGradient {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 0rem;
  padding: 0rem;
  background: linear-gradient(135deg, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
  color: #fff;
  border: initial;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75);
  font-size: 1rem;
  font-weight: initial;
  font-family: initial;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 60px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transform: translateZ(0);
  text-shadow: 2px 1px 2px #969696;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
