.test {
  width: 200px;
}
.test span {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test span:hover {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
.test {
  width: 200px;
}
.test span {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test span:hover {
  transition-property: background;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: #008000;
}
