@import 'buttron.styl'

.test
  buttron({
    style: false
    width: 200px
    hover:{
      background: green
      option:{
        applyTo: span
        duration: 2s
      }
    }
  })

buttron('.test', {
  style: false
  width: 200px
  hover:{
    background: green
    option:{
      applyTo: span
      duration: 2s
    }
  }
})