extends _layouts/main.jade

block title
  title Animation

block content
  .doc_Wrapper.animation_Wrapper
    h1 Animation
    //Basics
    section
      include:markdown _docs/animation/basics.md
      .example
        p Result
        .animTest
          span Animation