extends _layouts/main.jade

block title
  title Basic

block content
  .doc_Wrapper
    h1 Basic Usage
    //Creating a buttrons
    section
      include:markdown _docs/basic/aButtron.md
      .example
        p Result
        .aButtron
          span A Buttron

    //Inherit
    section
      include:markdown _docs/basic/inheritClass.md
      .example
        p Result
        .firstLine
          p What
          .secondLine
            span Will
          #secondLine
            p Buttron
            .thirdLine
              span Do?

    //Syntax
    section
      include:markdown _docs/basic/syntax.md      

    //Default Options
    section
      include:markdown _docs/basic/defaultProperties.md

    //Changing Properties
    section
      include:markdown _docs/basic/changingProperties.md
      .example
        p Result
        .buttronOpts
          span Green Buttron

    //Passing Properties
    section
      include:markdown _docs/basic/passingProperties.md
      .example
        p Result
        .buttronGradient
          span Gradient

    //Var Properties
    section
      include:markdown _docs/basic/varProperties.md

    //Defualt trans and animation
    section
      include:markdown _docs/basic/defaultTandA.md
    //Production
    section
      include:markdown _docs/basic/production.md
