extends _layouts/main.jade

block title
  title Elements

block content
  .doc_Wrapper.transition_Wrapper
    //- h1 Classes
    //- //Basics
    //- section
    //-   include:markdown _docs/classes/basics.md
    //-   .example
    //-     p Result
    //-     .blueBtnOne
    //-       span Big Blue
    //-   include:markdown _docs/classes/basics2.md
    //-   .example
    //-     p Result
    //-     .alteredBlueBtn
    //-       span Altered Blue
    
    //Private Var
    section
      //- include:markdown _docs/classes/privateClassVars.md
      //- .example
      //-   p Result
      //-   .myPrivateButton
      //-     span Very Private
      //- include:markdown _docs/classes/privateClassVars2.md
      //- .example
      //-   p Result
      //-   .myNewPrivateButton
      //-     span New Private
      //- include:markdown _docs/classes/privateClassVars3.md
      //- .example
      //-   p Result
      //-   .evalExample
      //-     span Eval Color
      //- include:markdown _docs/classes/privateClassVars4.md
      //- .example
      //-   p Result
      //-   .evalMaths
      //-     span Eval Math
      
      .example
        p Result
        .brk
          span Brackets
    //- section
    //-   //- include:markdown _docs/classes/basics.md
    //-   .example
    //-     p Result
    //-     .mt1
    //-       span Big Blue
    //-     .mt2
    //-       span Big You