extends _layouts/main.jade

block title
  title Components

block content
  .doc_Wrapper.transition_Wrapper
    h1 Components
    //Basics
    section
      include:markdown _docs/component/basic.md
      .example
        p Result
        .compButton
          span Span
            p T
            p S