extends _layouts/main.jade

block title
  title Elements

block content
  .doc_Wrapper.transition_Wrapper
    h1 Elements
    //Basics
    section
      include:markdown _docs/elements/basics.md
      .example
        p Result
        .afterWhat


    //Before and After
    section
      include:markdown _docs/elements/beforeAndAfter.md
      .example
        p Result
        .pseudoHover
          span Pseudo Hover

    //Regex
    section
      include:markdown _docs/elements/regexElm.md

    //Custom
    section
      include:markdown _docs/elements/customElements.md
      .example
        p Result
          .multipleElm
            span Multiple
    //Custom Example
    section
      include:markdown _docs/elements/customElementsEx.md
      .example
        p Result
          .customElm
            span
            span Cool
            span