extends _layouts/main.jade

block title
  title Home

block content
  .home_Wrapper
    section
      h1 But<span>tron</span>
      .icon.-button
      //- h3 A whole new way to button
      //- h3 Top Shelf Buttons
      //- h3 Cooler than a whistling swan
      h3 The Genghis Khan of Buttons


block script
  script(type="application/javascript", src="assets/js/main.js")