extends _layouts/main.jade

block title
  title States

block content
  .doc_Wrapper.transition_Wrapper
    h1 States
    //Basic
    section
      include:markdown _docs/states/basics.md
      .example
        p Result
        .aHoverState
          span Hover State
      include:markdown _docs/states/basicAssumptions.md

    //Props
    section
      include:markdown _docs/states/stateProps.md
      .example
        p Result
        .stateApplyTo
          span Apply To Span

    //Custom sState 
    section
      include:markdown _docs/states/customState.md
      .example
        p Result
        .checkMe
          input(type="checkbox" name="radioMe")
          |  Check Me Out!

    //Custom State Components
    section
      include:markdown _docs/states/customStateComponent.md
      .example
        p Result
        .superPowers
          input(type="checkbox" name="radioMe")
          span Super 
            span Powers

    //Custom State Component Ex2
    section
      include:markdown _docs/states/customStateComponentEx2.md
      .example
        p Result
        .doItUp
          input(type="checkbox" id="checkMe")
          lable(for="checkMe" class="checkbox")
          span Check Me Out!