extends _layouts/main.jade

block title
  title Elements

block content
  .doc_Wrapper.testBin_Wrapper
    //Basics
    section
      .tester
        span TEst
        //- .beerTwo
        //-   span Two

      //- .testBin.active
      //-   span .active
      //- .testBin
      //-   span.active span.active

      //- .testOther.active
      //-   span Other
      //- .testOther
      //-   span.active Other
      //- .addActive
      //-   span Add Active
