extends _layouts/main.jade

block title
  title Transitions

block content
  .doc_Wrapper.transition_Wrapper
    h1 Transition's
    //Basic
    section
      include:markdown _docs/transition/basics.md
      .example
        p Result
        .aTransition
          span A Transition

    //Transition Options
    section
      include:markdown _docs/transition/options.md

    //Use With States
    section
      include:markdown _docs/transition/useWithStates.md
      .example
        p Result
        .shortInLongOut
          span Hover

    //Apply To
    section
      include:markdown _docs/transition/transApplyTo.md
      .example
        p Result
        .transApplyTo
          span Apply To


    //Multiple Trans Part 1
    section
      include:markdown _docs/transition/multipleTransPart1.md
      .example
        p Result
        .multiTrans
          span Multiple


    //Multiple Trans Part 2
    section
      include:markdown _docs/transition/multipleTransPart2.md
      .example
        p Result
        .multiTransSmooth
          span Smooth
        p Think thats cool? We just getting started.