.test {
  width: 200px;
}
.test:checked {
  background: #eee;
}
.test {
  width: 200px;
}
.test:checked {
  background: #eee;
}
.test {
  width: 200px;
}
.test:checked {
  background: #eee;
}
.test {
  width: 200px;
}
.test:checked {
  background: #eee;
}
