.test {
  width: 200px;
}
.test:required {
  background: #008000;
}
.test:hover {
  background: #008000;
}
.test {
  width: 200px;
}
.test:required {
  background: #008000;
}
.test:hover {
  background: #008000;
}
