.test {
  width: 200px;
}
@-moz-keyframes checks {
  50% {
    width: 200px;
  }
}
@-webkit-keyframes checks {
  50% {
    width: 200px;
  }
}
@-o-keyframes checks {
  50% {
    width: 200px;
  }
}
@keyframes checks {
  50% {
    width: 200px;
  }
}
.test:checked {
  background: #008000;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: checks;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:disabled {
  background: #f00;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test:required {
  color: #f00;
  font-size: 3em;
}
.test {
  width: 200px;
}
@-moz-keyframes checks {
  50% {
    width: 200px;
  }
}
@-webkit-keyframes checks {
  50% {
    width: 200px;
  }
}
@-o-keyframes checks {
  50% {
    width: 200px;
  }
}
@keyframes checks {
  50% {
    width: 200px;
  }
}
.test:checked {
  background: #008000;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: checks;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.test:disabled {
  background: #f00;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.test:required {
  color: #f00;
  font-size: 3em;
}
