@import 'buttron.styl'

.test
  buttron({
    width: 200px
    customState:{
      state: 'required' 'hover'
      background: green
    }
  })

buttron('.test', {
  width: 200px
  customState:{
    state: 'required' 'hover'
    background: green
  }
})
