@import '_globalButtron'

// .aHoverState
//   buttron({
//     style: true
//     background: #7F8C8D
//     hover:{
//       background: #1ABC9C
//     }
//   });

// .makeItWork
//   buttron({
//     width: 200px
//     link: {
//       transition: true
//       color: blue
//     }
//   })

// .test
//   buttron({
//     width: 200px
//     customState:{
//       background: #eee
//       option:{
//         transition: true
//         state: 'checked'
//       }
//     }
//   })

.test
  buttron({
    width: 200px
    customState:{
      trans:{
        on:{
          background: #eee
          option:{
            state: 'checked'
            duration: 2s
          }
        }
        off:{
          opacity: 0.8
          option:{
            state: 'disabled'
            duration: 1s
            ease: ease-out
          }
        }
        invalid:{
          color: red
          option:{
            transition: false
          }
        }
        globalOption:{
          ease: sedona
        }
      }
    }
  })

