@import '_globalButtron'

//production
// _Buttron['production'] = true

//Ex1
.aButtron
  buttron()
 
//Ex2
.firstLine
  font-weight: normal
  p
    margin: 0
    pardding: 0
  .secondLine
  #secondLine
    .thirdLine
      buttron()


//Ex3
.buttronOpts
  buttron({
    background: #27AE60
  })
  

//Ex4
.buttronGradient
  buttron({
    background: "linear-gradient(135deg, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%)"
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.75)
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1)
  })