@import '_globalButtron'


$color = blue
.varButton
  buttron({
    background: alpha(darken($color, 20%), 0.8)
  })
.afterWhat
  buttron({
    after:{
      content: 'After What?'
    }
  })


.pseudoHover
  buttron({
    after:{
      content: ''
      position: absolute
      top: 0
      left: 0%
      height: 20px
      width: 20px
      background: #9B59B6
      z-index: 10
      hover:{
        background: #2ECC71
        left: calc(100% - 20px) 
      }
    }
    before:{
      content: ''
      position: absolute
      bottom: 0
      right: 0%
      height: 20px
      width: 20px
      background: #9B59B6
      z-index: 10
      hover:{
        background: #2ECC71
        right: calc(100% - 20px) 
      }
    }
  })


.multipleElm
  buttron({
    customElement:{
      element: before after
      content: ''
      position: absolute
      z-index: -10
      width: 100%
      height: 100%
    }
    after:{
      left: 50%
      background: #E74C3C
    }
    before:{
      right: 50%
      background: #9B59B6
    }
    //Important- you must prefix if you have multiple customElement's specified 
    customElement2:{
      element: first-letter
      font-size: 2rem
      color: #3498DB
    }
  })

//Custom Variables
$baseTime = 0.5s
//Create a Buttron Class
coolDemo = ButtronClass('coolDemo', {
  //Custom Vars
  $$:{
    c1: alpha(#1ABC9C, 0.75),
    c2: alpha(#2ECC71, 0.75),
    c3: alpha(#9B59B6, 0.75),
    c4: alpha(#34495E, 0.75),
    c5: alpha(#F1C40F, 0.75),
    c6: alpha(#E74C3C, 0.75),
    textColor: #fff
  }
  //Main button
  position: absolute
  component:{
    span:{
      //First
      first-child:{
        customElement:{
          //Shared styles
          element: before after
          content: ''
          z-index: -15
          position: absolute
          background: transparent
          width: 0%
          height: 0%
          top: 0
        }
        before:{
          left: 0
          //Out trans
          transition:{
            option:{
              //2.5s
              delay: 5 * $baseTime
            }
          }
          hover:{
            //Apply to root so the hover trigger is on the button
            root: true
            width: 100%
            height: 100%
            background: "$$[c1]"
          }
        }
        after:{
          right: 0
          //Out trans
          transition:{
            option:{
              //2s
              delay: 4 * $baseTime
            }
          }
          hover:{
            root: true
            width: 100%
            height: 100%
            background: "$$[c2]"
            option:{
              //0.5s
              delay: 1 * $baseTime
            }
          }
        }
      }
      //Second 
      "nth-child(2)":{
        //For text to show
        z-index: 10
        //Text hover
        hover:{
          root: true
          font-size: 2.5rem
          color: "$$[textColor]"
          option:{
            duration: $baseTime * 6
          }
        }
        
        customElement:{
          element: after before
          content: ''
          z-index: -10
          position: absolute
          background: transparent
          width: 0%
          height: 0%
          top: 0
        }
        before:{
          left: 0
          //Out trans
          transition:{
            option:{
              //1.5s
              delay: 3 * $baseTime
            }
          }
          hover:{
            root: true
            width: 100%
            height: 100%
            background: "$$[c3]"
            option:{
              //1s
              delay: 2 * $baseTime
            }
          }
        }
        after:{
          right: 0
          //Out trans
          transition:{
            option:{
              //1s
              delay: 2 * $baseTime
            }
          }
          hover:{
            root: true
            width: 100%
            height: 100%
            background: "$$[c4]"
            option:{
              //1.5s
              delay: 3 * $baseTime
            }
          }
        }
      }
      customElement:{
        element: "nth-child(3)"
        customElement:{
          element: before after
          content: ''
          z-index: -10
          position: absolute
          background: transparent
          width: 0%
          height: 0%
          top: 0
        }
        before:{
          left: 0
          //Out trans
          transition:{
            option:{
              //0.5s
              delay: 1 * $baseTime
            }
          }
          hover:{
            root: true
            width: 100%
            height: 100%
            background: "$$[c5]"
            option:{
              //2s
              delay: 4 * $baseTime
            }
          }
        }
        after:{
          right: 0
          //Out trans
          transition:{
            option:{
              delay: 0s
            }
          }
          hover:{
            root: true
            width: 100%
            height: 100%
            background: "$$[c6]"
            option:{
              //2.5s
              delay: 5 * $baseTime
            }
          }
        }
      }
    }
  }
})

//Apply coolDemo Buttron Class to .customElm
.customElm
  coolDemo()


// phatButton = ButtronClass('phatButton', {
//   //Custom Class Vars
//   $$:{
//     color: alpha(#1ABC9C, 0.75),
//     fontSize: 2rem,
//     rotateDeg: rotate(180deg),
//     borderWidth: 5px
//   }
//   font-size: "$$[fontSize]"
//   color: "$$[color]"
//   hover:{
//     transform: "$$[rotateDeg]"
//   }
//   component:{
//     span:{
//       border-width: "$$[borderWidth]"
//     }
//   }
// })


// .neighboor
//   phatButton()
  


// //Custom Variables
// $baseTime = 0.5s
// $c1 = #1ABC9C
// $c2 = #2ECC71
// $c3 = #9B59B6
// $c4 = #34495E
// $c5 = #F1C40F
// $c6 = #E74C3C
// //Create a Buttron Class
// coolDemo = createButtronClass('coolDemo', {
//   position: absolute
//   component:{
//     span:{
//       //First
//       first-child:{
//         before:{
//           content: ''
//           z-index: -15
//           position: absolute
//           background: transparent
//           width: 0%
//           height: 0%
//           top: 0
//           left: 0
//           //Out trans
//           transition:{
//             option:{
//               //2.5s
//               delay: 5 * $baseTime
//             }
//           }
//           hover:{
//             //Apply to root so the hover trigger is on the button
//             root: true
//             width: 100%
//             height: 100%
//             background: alpha($c1, 0.75)
//           }
//         }
//         after:{
//           content: ''
//           z-index: -15
//           position: absolute
//           background: transparent
//           width: 0%
//           height: 0%
//           top: 0
//           right: 0
//           //Out trans
//           transition:{
//             option:{
//               //2s
//               delay: 4 * $baseTime
//             }
//           }
//           hover:{
//             root: true
//             width: 100%
//             height: 100%
//             background: alpha($c2, 0.75)
//             option:{
//               //0.5s
//               delay: 1 * $baseTime
//             }
//           }
//         }
//       }
//       //Second 
//       "nth-child(2)":{
//         //For text to show
//         z-index: 10
//         //Text hover
//         hover:{
//           root: true
//           font-size: 2.5rem
//           option:{
//             duration: $baseTime * 6
//           }
//         }
//         before:{
//           content: ''
//           z-index: -10
//           position: absolute
//           background: transparent
//           width: 0%
//           height: 0%
//           top: 0
//           left: 0
//           //Out trans
//           transition:{
//             option:{
//               //1.5s
//               delay: 3 * $baseTime
//             }
//           }
//           hover:{
//             root: true
//             width: 100%
//             height: 100%
//             background: alpha($c3, 0.75)
//             option:{
//               //1s
//               delay: 2 * $baseTime
//             }
//           }
//         }
//         after:{
//           content: ''
//           z-index: -10
//           position: absolute
//           background: transparent
//           width: 0%
//           height: 0%
//           top: 0
//           right: 0
//           //Out trans
//           transition:{
//             option:{
//               //1s
//               delay: 2 * $baseTime
//             }
//           }
//           hover:{
//             root: true
//             width: 100%
//             height: 100%
//             background: alpha($c4, 0.75)
//             option:{
//               //1.5s
//               delay: 3 * $baseTime
//             }
//           }
//         }
//       }
//       customElement:{
//         element: "nth-child(3)"
//         before:{
//           content: ''
//           z-index: -10
//           position: absolute
//           background: transparent
//           width: 0%
//           height: 0%
//           top: 0
//           left: 0
//           //Out trans
//           transition:{
//             option:{
//               //0.5s
//               delay: 1 * $baseTime
//             }
//           }
//           hover:{
//             root: true
//             width: 100%
//             height: 100%
//             background: alpha($c5, 0.75)
//             option:{
//               //2s
//               delay: 4 * $baseTime
//             }
//           }
//         }
//         after:{
//           content: ''
//           z-index: -10
//           position: absolute
//           background: transparent
//           width: 0%
//           height: 0%
//           top: 0
//           right: 0
//           //Out trans
//           transition:{
//             option:{
//               delay: 0s
//             }
//           }
//           hover:{
//             root: true
//             width: 100%
//             height: 100%
//             background: alpha($c6, 0.75)
//             option:{
//               //2.5s
//               delay: 5 * $baseTime
//             }
//           }
//         }
//       }
//     }
//   }
// })

// //Apply coolDemo Buttron Class to .customElm
// .customElm
//   coolDemo()













// .firstLetter
//   buttron({
//     // transition: {
//     //   applyTo: "p"
//     // }
//     //To target `p` lets use a component
//     // style: false
//     hover:{
//       background: green
//     }
//     component:{
//       p:{
//         font-weight: bold
//         transition:{
//           // background: green
//           // color: blue
//           option:{
//             duration: 2s 
//           }
//         }
//         hover:{
//           //Lets attach hover to the root so anytime
//           //the cursor enters the anywhere in the 
//           //button this effect happens
//           root: true
//           color: #E74C3C
//           option:{
//             duration: 3s
//             delay: 2s
//           }
//         }
//         active:{
//           root: true
//           background: black
//           font-size: 4rem

//         }
//       }
//     }
//   })
  
// .firstLetter
//   buttron({
//     style: false
//     hover:{
//       //Lets attach hover to the root so anytime
//       //the cursor enters the anywhere in the 
//       //button this effect happens
//       color: #E74C3C
//     },
//     active:{
//       background: black
//       font-size: 4rem
//     }
//   })
// .firstLetter
//   buttron({
//     //To target `p` lets use a component
//     component:{
//       p:{
//         font-weight: bold
//         hover:{
//           //Lets attach hover to the root so anytime
//           //the cursor enters the anywhere in the 
//           //button this effect happens
//           root: true
//           color: #E74C3C
//           transition:{
//             option:{
//               duration: 1s
//             }
//           }
//         }
//       }
//     }
//   })
  

// .test
//   buttron({
//     style: false
//     after:{
//       content: 'after'
//       hover:{
//         background: green
//         transition: false
//       }
//     }
//     before:{
//       content: 'before'
//       color: green
//       active:{
//         color: yellow
//         transition: false
//       }
//     }
//     first-child:{
//       applyTo: "~ span + .applySpan"
//       font-size: 1rem
//       focus:{
//         applyTo: "~ span + .applySpan"
//         font-size: 2rem
//       }
//     }
//     "nth-child(3)":{
//       color: yellow
//       link:{
//         background: black
//       }
//     }
//     customElement:{
//       element: last-of-type
//       color: purple
//       visited:{
//         color: teal
//       }
//     }
//     component:{
//       span:{
//         background: green
//         after:{
//           content: 'after'
//           hover:{
//             background: green
//             transition: false
//           }
//         }
//         before:{
//           content: 'before'
//           applyTo: ".apply"
//           active:{
//             applyTo: ".apply"
//             color: yellow
//             transition: false
//           }
//         }
//         first-child:{
//           font-size: 10rem
//           transition:{
//             option:{
//               duration: 10s
//             }
//           }
//           focus:{
//             font-size: 2rem
//           }
//         }
//         "nth-child(3)":{
//           background: yellow
//           transition:{
//             option:{
//               duration: 10s
//             }
//           }
//           link:{
//             background: black
//             transition: true
//           }
//         }
//         customElement:{
//           element: first-letter
//           pseudo: true
//           font-size: 2rem
//           hover:{
//             root: true
//             font-size: 5rem
//             transition: true
//           }
//         }
//         customElement:{
//           element: last-of-type
//           font-size: 2rem
//           visited:{
//             font-size: 5rem
//             transition: true
//           }
//         }
//       }
//     }
//   })



// .customVar
//   buttron({
//     // style: false
//     $$:{
//       color: "left"
//       cool: "4px 4px 2px rgba(150, 150, 150, 1)"
//     }
//     // margin: '$$.color'
//     text-shadow: "$$[cool]"
//   })