@import '_globalButtron'

//production
// _Buttron['production'] = true

//Ex1
.aTransition
  buttron({
    transition:{
      background: #34495E
      box-shadow: 0px 15px 25px -1px rgba(0,0,0,0.75)
    }
  })

//Ex2
.shortInLongOut
  buttron({
    transition:{
      option:{
        duration: 3s
        property: background
      }
    }
    hover: {
      background: #E74C3C
      option: {
        duration: 0.3s
      }
    }
  });
  

//Ex3
.transApplyTo
  buttron({
    hover:{
      transition:{
        applyTo: span
        color: #F1C40F
        background: #8E44AD
        border-radius: 5px
        padding:1rem
      }
    }
  })
  

//ex4
.multiTrans
  buttron({
    hover:{
      transition:{
        main:{
          //Since we want to apply this to the parent no need for applyTo
          background: transparent
          border: solid 5px #8E44AD
        }
        span:{
          applyTo: span
          color: #F1C40F
          background: #8E44AD
          padding:1rem
          option: {
            ease: ease-in-out
          }
        }
      }
      globalOption:{
        duration: 1s
        ease: ease-in
      }
    }
  });

.multiTransSmooth
  buttron({
    //By applying a transparent border to the defualt state
    //it make the transition silky smooth
    border: solid 5px transparent
    line-height: 50px
    transition:{
      main:{
        option:{
          shorthand:{
            background: 0.5s ease-in 0.5s
            border: 0.5s ease-in
          }
        }
      }
      span:{
        //Indicate to Buttron just to use the set defualts
        applyTo: span
      }
    }
    hover:{
      transition:{
        main:{
          //Since we want to apply this to the parent (.multiTransSmooth) no need for applyTo
          background: transparent
          border: solid 5px #8E44AD
          option: {
            shorthand:{
              background: 0.5s ease-in
              border: 0.5s ease-in 0.5s
            }
          }
        }
        span:{
          applyTo: span
          color: #F1C40F
          background: #8E44AD
          padding:1rem
          option: {
            ease: ease-in-out
          }
        }
        //Per Miss. Jonhson
        globalOption:{
          duration: 1s
          ease: ease-in
        }
      }
    }
  })


.test
  buttron({
    component:{
      span:{
        background: green
        component:{
          span:{
            font-size: 4rem
          }
        }
      }
    }
    addClass:{
      active:{
        background: purple
      }
    }
  })
  
// buttron('.spefify', {
//   style: false
//   background: blue
//   addClass:{
//     active:{
//       background: green
//     }
//   }
// })