@import '_globalButtron'

// .testBin_Wrapper
//   align(center)
//   height: 100%


// .test
//   buttron({
//     width: 200px
//     customState:{
//       checked:{
//         trans:{
//           background: green
//         }
//       }
//       disabled:{
//         background: red
//       }
//       required:{
//         customState:{
//           state: 
//         }
//         component:{
//           span:{
//             font-size: 2em
//             hover:{
//               color: green
//             }
//           }
//         }
//       }
//     }
//   })


// .test
//   buttron({
//     width: 200px
//     customState:{
//       state: 'checked'
//       anim:{
//         name: 'tlTest'
//         timeline:{
//           '50':{
//             font-size: 2em
//           }
//         }
//       }
//     }
//   })
  
// .test
//   buttron({
//     width: 200px
//     customState:{
//       checked:{
//         trans:{
//           background: green
//         }
//         anim:{
//           name: 'checks'
//           timeline:{
//             '50':{
//               width: 200px
//             }
//           }
//         }
//       }
//       disabled:{
//         trans:{
//           background: red
//         }
//       }
//       noState:{
//         color: red
//         font-size: 3em
//         option:{
//           state: 'required'
//         }
//       }
//     }
//   })


// .test
//   buttron({
//     width: 200px
//     hover:{
//       background: green
//       option:{
//         applyTo: span
//       }
//     }
//   })

// .test
//   buttron({
//     width: 300px
//     hover:{
//       transition:{
//         one: {
//           font-size: 1.2rem
//           border-radius: 5px
//           shorthand:{
//             font-size: 2s
//           }
//         }
//         two:{
//           background: green
//           color: teal
//           option:{
//             applyTo: "span + .kool"
//             delay: 2s
//             shorthand:{
//               background: 1s
//               color: 1.1s default 1.1s
//             }
//           }
//         }
//         globalOption:{
//           //open up extract to props
//           //dont hard assign
//           //not global?
//           opacity: 0.8
//           option:{
//             ease: funky-town
//             delay: 1s
//           }
//         }
//       }
//     }
//   })





// .test
//   buttron({
//     width: 200px
//     hover:{
//       trans:{
//         one:{
//           color: red
//           option:{
//             applyTo: 'span'
//           }
//         }
//         two:{
//           width: 400px
//           option:{
//             applyTo: 'span'
//           }
//         }
//       }
//     }
//   })


// .test
//   buttron({
//     width: 200px
//     hover:{
//       trans:{
//         one:{
//           background: green
//           option:{
//             applyTo: 'span'
//             // root: true
//           }
//         }
//         two:{
//           font-size: 3rem
//           option:{
//             applyTo: 'span'
//             // root: true
//           }
//         }
//         // two:{
//         //   cunt: 3rem
//         //   option:{
//         //     applyTo: 'NOTspan'
//         //     // root: true
//         //   }
//         // }
//       }
//     }
//   })

// .test
//   buttron({
//     width: 200px
//     hover: {
//       opacity: 0.8
//       option:{
//         duration: 1s
//         autoGen: false
//       }
//     }
//   })
//with apply




.test
  buttron({
    width: 200px
    component:{
      span:{
        height: 50px
        hover:{
          background: green
          color: red
          font-size: 2rem
          option: { 
            media:{
              'xs':{
                width: 100px
                option:{
                  merge: false 
                  'max-height': 800px
                }
              }
              'lg':{
                width: 400px
              }
              global:{
                border-radius: 10px
                option:{
                  merge: true
                }
              }
            }
            duration: 0.25s
            root: true
            shorthand:{
              color: default default 0.15s
              font-size: default default 0.25s
              width: 0.5s
              border-radius: 1s default 0.5s
            }
          } 
        }
      }
    }
  })



// .test
//   buttron({
//     width: 200px
//     hover:{
//       background: green
//       color: red
//       font-size: 2rem
//       option: {
//         //in media Q
//         media:{
//           font-size: 1.5rem
//           option:{
//             merge: true
//             type: 'screen'
//             'max-width': 800px
//             'min-width': 200px
//           }
//         }
//         duration: 10s
//       } 
//     }
//   })