@import 'buttron.styl'

.test
  buttron({
    width: 200px
    hover:{
      background: green
      color: red
      font-size: 2rem
      option: {
        //in media Q
        media:{
          font-size: 1.5rem
          option:{
            merge: true
            type: 'screen'
            'max-width': 800px
            'min-width': 200px
          }
        }
        duration: 10s
      } 
    }
  })
  
buttron('.test', {
  width: 200px
  hover:{
    background: green
    color: red
    font-size: 2rem
    option: {
      //in media Q
      media:{
        font-size: 1.5rem
        option:{
          merge: true
          type: 'screen'
          'max-width': 800px
          'min-width': 200px
        }
      }
      duration: 10s
    } 
  }
})