@import 'buttron.styl'

.test
  buttron({
    width: 200px
    hover:{
      background: green
      option:{
        applyTo: 'span'
        media: 'md'
      }
    }
  })

  
buttron('.test', {
  width: 200px
  hover:{
    background: green
    option:{
      applyTo: 'span'
      media: 'md'
    }
  }
})