.animTest {
  width: 200px;
}
@-moz-keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
.animTest {
  transition-property: background;
  transition-duration: 20s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.animTest:hover {
  transition-property: background;
  transition-duration: 20s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: hoverr;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  background: #008000;
}
.animTest {
  width: 200px;
}
@-moz-keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes hoverr {
  50% {
    font-size: 1.2rem;
  }
}
.animTest {
  transition-property: background;
  transition-duration: 20s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.animTest:hover {
  transition-property: background;
  transition-duration: 20s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: hoverr;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  background: #008000;
}
