@import 'buttron.styl'

.animTest
  buttron({
    width: 200px
    style: false
    hover:{
      background: green
      option:{
        duration: 20s
      }
      anim:{
        name: hoverr
        option:{
          duration: 2s
        }
        timeline:{
          '50':{
            font-size: 1.2rem
          }
        }
      }
    }
  })

buttron('.animTest', {
  width: 200px
  style: false
  hover:{
    background: green
    option:{
      duration: 20s
    }
    anim:{
      name: hoverr
      option:{
        duration: 2s
      }
      timeline:{
        '50':{
          font-size: 1.2rem
        }
      }
    }
  }
})