@import 'buttron.styl'

.animTest
  buttron({
    style: false
    width: 200px
    hover:{
      anim:{
        name: timeline
        applyTo: span
        option:{
          duration: 1s
        }
        timeline:{
          '50':{
            font-size: 1.2rem
          }
        }
      }
    }
  })

buttron('.animTest', {
  style: false
  width: 200px
  hover:{
    anim:{
      name: timeline
      applyTo: span
      option:{
        duration: 1s
      }
      timeline:{
        '50':{
          font-size: 1.2rem
        }
      }
    }
  }
})