.animTest {
  width: 200px;
}
@-moz-keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
.animTest:hover span {
  animation-name: timeline;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.animTest {
  width: 200px;
}
@-moz-keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
@-o-keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
@keyframes timeline {
  50% {
    font-size: 1.2rem;
  }
}
.animTest:hover span {
  animation-name: timeline;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
