@import 'buttron.styl'

.animTest
  buttron({
    width: 200px
    style: false
    hover:{
      transition: {
        one:{
          background: green
        }
        two:{
          font-size: 2rem
        }
        globalOption:{
          duration: 2s
        }
      }
      anim:{
        one:{
          option:{
            duration: 3s
          }
          timeline:{
            '50':{
              width: 300px
            }
          }
        }
        two:{
          name: otherAnim
          override: true
        }
      }
    }
  })

buttron('.animTest', {
  width: 200px
  style: false
  hover:{
    transition: {
      one:{
        background: green
      }
      two:{
        font-size: 2rem
      }
      globalOption:{
        duration: 2s
      }
    }
    anim:{
      one:{
        option:{
          duration: 3s
        }
        timeline:{
          '50':{
            width: 300px
          }
        }
      }
      two:{
        name: otherAnim
        override: true
      }
    }
  }
})