.animTest {
  width: 200px;
}
@-moz-keyframes one {
  50% {
    width: 300px;
  }
}
@-webkit-keyframes one {
  50% {
    width: 300px;
  }
}
@-o-keyframes one {
  50% {
    width: 300px;
  }
}
@keyframes one {
  50% {
    width: 300px;
  }
}
.animTest {
  transition-property: background , font-size;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.animTest:hover {
  transition-property: background , font-size;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: one , otherAnim;
  animation-duration: 3s , 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1 , 1;
  animation-delay: 0s , 0s;
  animation-direction: normal , normal;
  animation-fill-mode: none , none;
  animation-play-state: running , running;
  background: #008000;
  font-size: 2rem;
}
.animTest {
  width: 200px;
}
@-moz-keyframes one {
  50% {
    width: 300px;
  }
}
@-webkit-keyframes one {
  50% {
    width: 300px;
  }
}
@-o-keyframes one {
  50% {
    width: 300px;
  }
}
@keyframes one {
  50% {
    width: 300px;
  }
}
.animTest {
  transition-property: background , font-size;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.animTest:hover {
  transition-property: background , font-size;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  animation-name: one , otherAnim;
  animation-duration: 3s , 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1) , cubic-bezier(0.42, 0, 0.58, 1);
  animation-iteration-count: 1 , 1;
  animation-delay: 0s , 0s;
  animation-direction: normal , normal;
  animation-fill-mode: none , none;
  animation-play-state: running , running;
  background: #008000;
  font-size: 2rem;
}
