.test {
  width: 300px;
}
.test span {
  background: #008000;
  color: #f00;
  transition-property: background, color;
  transition-duration: 1s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 0s;
}
.test {
  width: 300px;
}
.test span {
  background: #008000;
  color: #f00;
  transition-property: background, color;
  transition-duration: 1s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 0s;
}
