.test {
  width: 300px;
}
.test {
  font-size: 1.2rem;
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.1s;
}
.test span {
  background: #008000;
  color: #f00;
  transition-property: background, color;
  transition-duration: 1s, 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out;
  transition-delay: 0.1s, 0.1s;
}
.test {
  width: 300px;
}
.test {
  font-size: 1.2rem;
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.1s;
}
.test span {
  background: #008000;
  color: #f00;
  transition-property: background, color;
  transition-duration: 1s, 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out;
  transition-delay: 0.1s, 0.1s;
}
