.test {
  width: 300px;
}
.test {
  background: #008000;
  color: #f00;
  font-size: 1.4rem;
  transition-property: background, color, font-size;
  transition-duration: 1s, 3s, 0.5s;
  transition-timing-function: stylus, fun, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.1s, 0.3s, 0s;
}
.test {
  width: 300px;
}
.test {
  background: #008000;
  color: #f00;
  font-size: 1.4rem;
  transition-property: background, color, font-size;
  transition-duration: 1s, 3s, 0.5s;
  transition-timing-function: stylus, fun, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.1s, 0.3s, 0s;
}
