.test {
  width: 300px;
}
.test {
  background: #008000;
  color: #f00;
  font-size: 1.1rem;
  transition-property: background, color, font-size;
  transition-duration: 2s, 0.5s, 10s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 1s, 5s;
}
.test {
  width: 300px;
}
.test {
  background: #008000;
  color: #f00;
  font-size: 1.1rem;
  transition-property: background, color, font-size;
  transition-duration: 2s, 0.5s, 10s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-out, cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s, 1s, 5s;
}
