.test {
  width: 200px;
}
@media only screen and (max-width: 400px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 1800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (max-width: 400px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-width: 1800px) {
  .test {
    width: 100px;
  }
}
