.test {
  background: #eee;
}
@media only screen and (orientation: landscape) {
  .test {
    width: 300px;
  }
}
.test {
  background: #eee;
}
@media only screen and (orientation: landscape) {
  .test {
    width: 300px;
  }
}
.test {
  background: #eee;
}
@media only screen and (orientation: landscape) {
  .test {
    width: 300px;
  }
}
.test {
  background: #eee;
}
@media only screen and (orientation: landscape) {
  .test {
    width: 300px;
  }
}
