.test {
  width: 200px;
}
@media only screen and (min-resolution: 2dppx) and (min-width: 300px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (min-resolution: 2dppx) and (min-width: 300px) {
  .test {
    width: 100px;
  }
}
